// 'pac' prefix used for custom styles to prevent collisions
.pac-sfo-row {
  background-color: #FEFBE2;
}

.pac-badge {
  display: block;
  margin-bottom: 3px;
  margin-right: 10px!important;
  @include govuk-media-query($from: tablet) {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}

.pac-badge--flag {
  display: inline-block;
  padding: 2px 4px;
  border: 2px solid currentColor;
  background-color: transparent!important;
  font-size: 0.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 6px;
  margin-right: 8px!important;

  &.moj-badge--red {
    color: #D4351C!important;
  }

  &.moj-badge--purple {
    color: #4C2C92!important;
  }
}

.pac-case-summary-flags {
  position: relative;
  isolation: isolate;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 8px 8px 0;
  background-color: transparent!important;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;

  &::before {
    position: absolute;
    z-index: -1;
    top: -1px;
    bottom: -1px;
    left: 50%;
    width: 100vw;
    content: '';
    background-color: #e8e8e8;
    transform: translateX(-50%);
  }

  .pac-badge--flag:first-child {
    padding-left: 4px;
  }
}
