// 'pac' prefix used for custom styles to prevent collisions
.pac-sfo-row {
  background-color: #FEFBE2;
}

.pac-sfo-badge {
  vertical-align: middle;
}

.pac-sfo-label {
  color: #D4351C;
  font-weight: bold;
  margin-left: 4px;
  vertical-align: middle;
}

.pac-badge {
  display: block;
  margin-bottom: 3px;
  margin-right: 10px!important;
  @include govuk-media-query($from: tablet) {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 3px;
    }
  }
}
