// 'pac' prefix used for custom styles to prevent collisions
.pac-dashboard-count{
    padding-right: 10px !important;
    text-align: right;
    min-width: 30px !important;
    display: inline-block;
    margin-bottom: 0;
}
