.pac-key-details-bar {
  background-color: $govuk-brand-colour;

  h1, h2, .govuk-body {
    color: govuk-colour("white");
  }

  .pac-probation-status {
    margin-top: 10px;
    margin-bottom: 5px;
    @include govuk-media-query($until: desktop) {
      margin: 0;
    }
  }

  &__button {
    margin: 10px 0;
    @include govuk-media-query($until: desktop) {
      margin: 10px 0 0 0;
    }
  }

  &__key-details {
    @include moj-width-container;
    padding: 20px 0;
  }

  &-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-between;

    &__child {
      flex: 0 1 auto;
      flex-basis: auto;

      @include govuk-media-query($from: desktop) {
        margin: 0 15px 0 0;
      }

      @include govuk-media-query($until: desktop) {
        margin-bottom: 10px;
        flex-basis: 100%;
      }

      &__right {
        justify-self: flex-end;
        align-self: center;
      }
    }
  }

  &__name {
    @include govuk-font(27, bold);
    margin: 0;

    @include govuk-media-query($until: tablet) {
      @include govuk-font(36, bold);
    }
  }

  &__divider {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 15px 0 0;

    @include govuk-media-query($until: desktop) {
      border: 0;
    }
  }
}
