{% extends "partials/layout.njk" %}

{%- set moment = params.moment -%}

{% set subNavItems = [] %}

{% if data.probationStatus === 'Current' or data.probationStatus === 'Previously known' %}
    {{ subNavItems.push({
        text: 'Case summary',
        href: '/case/' + data.caseNo + '/summary',
        active: title === 'Case summary'
    }) }}
    {{ subNavItems.push({
        text: 'Probation record',
        href: '/case/' + data.caseNo + '/record',
        active: title === 'Probation record'
    }) }}
    {#
    {{ subNavItems.push({
        text: 'Risk register',
        href: '/case/' + data.caseNo + '/risk',
        active: title === 'Risk register'
    }) }}
    #}
{% endif %}
{% set crn = [] %}
{{ crn.push(data.crn) if data.crn }}

{% set pnc = [] %}
{{ pnc.push(data.pnc) if data.pnc }}

{% if data.breach == true %}
{% set breach = [] %}
{{ breach.push(data.breach) if data.breach }}
{% endif %}

{% set dob = [moment(data.defendantDob, 'YYYY-MM-DD').format('Do MMMM YYYY')] %}
{% set probationStatus = [] %}
{{ probationStatus.push(data.probationStatus) if data.probationStatus }}

{% block keydetails %}

    {%- from "components/key-details-bar/macro.njk" import pacKeyDetailsBar -%}
    {{ pacKeyDetailsBar({
        accTitle: "Defendant: ",
        title: data.defendantName,
        crn: crn,
        pnc: pnc,
        probationStatus: probationStatus,
        numberOfPossibleMatches: data.numberOfPossibleMatches,
        breach: breach
    }) }}

{% endblock %}

{% block backlink %}

    {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
    {{ govukBackLink({
        text: "Back to cases",
        href: '/cases/' + caseListDate
    }) }}

{% endblock %}

{% block content %}

    {% block message %}{% endblock %}

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
        label: 'Sub navigation',
        items: subNavItems
    }) if not hideSubnav }}

    {% block caseContent %}{% endblock %}

{% endblock %}
