{% extends "partials/layout.njk" %}

{%- set moment = params.moment -%}

{% set subNavItems = [] %}

{% if data.crn %}
    {{ subNavItems.push({
        text: 'Case summary',
        href: '/' + params.courtCode + '/hearing/' + data.hearingId + '/defendant/' + data.defendantId + '/summary',
        active: title === 'Case summary'
    }) }}
    {{ subNavItems.push({
        text: 'Probation record',
        href: '/' + params.courtCode + '/hearing/' + data.hearingId + '/defendant/' + data.defendantId + '/record',
        active: title === 'Probation record'
    }) }}
    {{ subNavItems.push({
        text: 'Risk register',
        href: '/' + params.courtCode + '/hearing/' + data.hearingId + '/defendant/' + data.defendantId + '/risk',
        active: title === 'Risk register'
    }) }}
{% endif %}

{% set crn = [] %}
{{ crn.push(data.crn) if data.crn }}

{% set pnc = [] %}
{{ pnc.push(data.pnc) if data.pnc }}

{% if data.breach == true %}
{% set breach = [] %}
{{ breach.push(data.breach) if data.breach }}
{% endif %}

{% if data.awaitingPsr == true %}
    {% set awaitingPsr = [] %}
    {{ awaitingPsr.push(data.awaitingPsr) if data.awaitingPsr }}
{% endif %}

{% set dob = [moment(data.defendantDob, 'YYYY-MM-DD').format('Do MMMM YYYY')] %}
{% set probationStatus = [] %}
{{ probationStatus.push(data.probationStatus) if data.probationStatus }}

{% block keydetails %}

    {%- from "components/key-details-bar/macro.njk" import pacKeyDetailsBar -%}
    {{ pacKeyDetailsBar({
        courtCode: params.courtCode,
        caseId: data.caseId,
        hearingId: params.hearingId,
        defendantId: params.defendantId,
        caseNo: params.caseNo,
        accTitle: "Defendant: ",
        title: data.defendantName | apostropheInName | properCase | removeTitle,
        crn: crn,
        pnc: pnc,
        probationStatus: probationStatus,
        numberOfPossibleMatches: data.numberOfPossibleMatches,
        breach: breach,
        awaitingPsr: awaitingPsr,
        hideUnlinkButton: hideUnlinkButton,
        manualMatch: data.manualMatch,
        actionButtonItems: data.actionButtonItems
    }) }}
    {{data.actionButtonItems}}

{% endblock %}

{% block backlink %}

    {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
    {{ govukBackLink({
        text: backText or "Back to cases",
        href: currentCaseListViewLink or '/' + params.courtCode + '/cases/' + (caseListDate if caseListDate else "")
    }) }}

{% endblock %}

{% block content %}

    {% block message %}{% endblock %}

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
        label: 'Sub navigation',
        items: subNavItems
    }) if subNavItems | length and not hideSubnav }}

    {% block caseContent %}{% endblock %}

{% endblock %}
