{%- from "moj/components/domain-specific/probation/header/macro.njk" import pdsHeader -%}

{% set envName = 'PRODUCTION' if pacEnvironment | lower === 'prod' else ('PRE-PRODUCTION' if pacEnvironment | lower === 'preprod' else ('DEV' if pacEnvironment | lower === 'dev' else 'PRODUCTION')) %}

{{ pdsHeader({
    environmentName: envName,
    environmentNameColour: 'govuk-tag--green',
    name: user.name | initialiseName,
    manageDetailsLink: '#',
    servicesLink: '#',
    services: [
        {
            heading: 'Prepare a case for sentence',
            href: '/',
            target: '_blank'
        }
    ],
    titleLink: '/'
}) }}