{%- set displayDateFormat = 'D MMM YYYY' -%}
{%- set userName = user.username.replace('.', ' ') | title -%}
<!DOCTYPE html>
<html lang="en" class="govuk-template no-js">
<head>

  {% set mainTitle = "Prepare a case for court" %}

    {% block head %}
        <meta charset="utf-8"/>

        <title>{{ title }} - {{ mainTitle }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c"/>

        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon"/>
        <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>

        <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
    {% endblock %}
</head>
<body class="govuk-template__body">

<script>
  document.body.classList.add('js-enabled')
</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

{% block header %}
  {%- from "moj/components/header/macro.njk" import mojHeader -%}
  {{ mojHeader({
    organisationLabel: {
      text: 'HMPPS',
      href: '/'
    },
    serviceLabel: {
      text: mainTitle,
      href: '/'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
          text: userName,
          href: '/',
          active: true
      }, {
          text: 'Sign out',
          href: '/logout'
      }]
    }
  }) }}
{% endblock %}

{% block navigation %}
  {%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}
  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: [
      {
        text: 'Dashboard',
        href: '/',
        active: title === 'Dashboard'
      },
      {
        text: 'Cases',
        href: '/cases',
        active: title === 'Cases' or
          title === 'Case details' or
          title === 'Personal details' or
          title === 'Probation record' or
          title === 'Risk registers' or
          title === 'Order details' or
          title === 'Breach details'
      }
    ]
  }) }}
{% endblock %}

{% block keydetails %}{% endblock %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    {% block content %}{% endblock %}
  </main>
</div>

{% block footer %}
  {%- from "govuk/components/footer/macro.njk" import govukFooter -%}
  {{ govukFooter({}) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/moj/all.js"></script>
  <script src="/govuk/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}

</body>
</html>
