<div class="govuk-width-container">
    <p class="govuk-body">
        <a href="https://justiceuk.sharepoint.com/sites/HMPPS_Group_CSA/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">View user guide</a>
    <p>
</div>