{% extends "./layout.njk" %}

{% set dateFormat = 'dddd D MMM' %}

{% set subNavItems = [{
    text: 'Case details',
    href: '/case/' + data.caseNo + '/details',
    active: title === 'Case details'
}, {
    text: 'Personal details',
    href: '/case/' + data.caseNo + '/person',
    active: title === 'Personal details'
}] %}

{% if data.probationStatus !== 'No record' %}
    {{ subNavItems.push({
        text: 'Probation record',
        href: '/case/' + data.caseNo + '/record',
        active: title === 'Probation record'
    }) }}
    {{ subNavItems.push({
        text: 'Risk registers',
        href: '/case/' + data.caseNo + '/risk',
        active: title === 'Risk registers'
    }) }}
{% endif %}
{% set crn = [] %}
{{ crn.push(data.crn) if data.crn }}

{% set pnc = [] %}
{{ pnc.push(data.pnc) if data.pnc }}

{% if data.breach == true %}
{% set breach = [] %}
{{ breach.push(data.breach) if data.breach }}
{% endif %}

{% set dob = [params.moment(data.caseData.def_dob, 'DD-MM-YYYY').format('Do MMMM YYYY')] %}
{% set probationStatus = [] %}
{{ probationStatus.push(data.probationStatus) if data.probationStatus }}

{% block keydetails %}

    {%- from "components/key-details-bar/macro.njk" import pacKeyDetailsBar -%}
    {{ pacKeyDetailsBar({
        accTitle: "Defendant: ",
        title: data.caseData.def_name,
        crn: crn,
        pnc: pnc,
        dob: dob,
        probationStatus: probationStatus,
        breach: breach
    }) }}

{% endblock %}

{% block content %}

    {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
    {{ mojSubNavigation({
        label: 'Sub navigation',
        items: subNavItems
    }) if not hideSubnav }}

    {% block caseContent %}{% endblock %}

{% endblock %}
