{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="app-summary-card__body govuk-!-padding-top-0 govuk-!-padding-right-3 govuk-!-padding-left-3">
    {% set draftNote = '' %}

    <table class="govuk-table">
        {% for previousNote in params.hearing.notes %}
            {% set isUserNoteAuthor = previousNote.createdByUuid === params.currentUserUuid %}
            {% if previousNote.draft %}
                {% if isUserNoteAuthor %}
                    {% set draftNote = previousNote.note %}
                {% endif %}
            {% else %}
                <tr class="govuk-table__row hearing-note-container">

                    <td class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-bottom-2"
                        id="previous-note-{{ previousNote.noteId }}" data-test="note-td">
                        <div class="hearing-note-display">

                            <div class="govuk-grid-row">
                                <span class="govuk-grid-column-full hearing-note-display-text">
                                    {% if previousNote.legacy %}
                                    <div class="govuk-warning-text hearing-note-warning-container">
                                        <div class="hearing-note-warning-warning">
                                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                        </div>
                                        <strong class="govuk-warning-text__text">
                                            <span class="govuk-visually-hidden">Warning</span>
                                            This note was added to a case with more than one defendant. Delete the note if it is not relevant to this defendant.
                                        </strong>
                                    </div>
                                    {% endif %}
                                    {{ previousNote.note | striptags(true) | escape | nl2br }}
                                </span>
                            </div>
                            <div class="govuk-grid-row govuk-!-margin-top-2 govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-3 hearing-note-links">
                                <span class="govuk-!-margin-left-3">{{ previousNote.author }} on {{ previousNote.created | caseCommentTimeFormat }}
                                    {% if isUserNoteAuthor %}
                                        <a class="govuk-link govuk-!-margin-left-5 note-edit-link"
                                           href="#">Edit</a>
                                        <a class="govuk-link govuk-!-margin-left-5 note-delete-link"
                                           href="summary/notes/delete?targetHearingId={{ params.hearing.hearingId }}&noteId={{ previousNote.noteId }}">Delete</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        {% if isUserNoteAuthor %}
                            <div hidden class="note-edit-container">
                                <div class="govuk-grid-row">
                                    <div class="govuk-!-margin-right-2 govuk-!-margin-left-2">
                                        <form method="post" action="summary/publish-edited-note">
                                            <textarea
                                                    class="govuk-body govuk-textarea case-comments-comment-display case-notes-edit"
                                                    rows="5" name="note" data-hearingid="{{ params.hearing.hearingId }}"
                                                    data-noteid="{{ previousNote.noteId }}"></textarea>
                                            <input type="hidden" name="hearingId" value="{{ params.hearing.hearingId }}"/>
                                            <input type="hidden" name="noteId" value="{{ previousNote.noteId }}"/>
                                            <div class="govuk-button-group">
                                                <button class="govuk-button action-button case-comments-save-button hearing-note-edit-done"
                                                        data-module="govuk-button">Save
                                                </button>
                                                <a class="govuk-link govuk-!-margin-left-5 note-edit-cancel-link"
                                                   href="#">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if params.enableHearingNotes %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-padding-top-3 govuk-!-padding-bottom-2">
                    <form id="save-notes-{{ params.hearing.hearingId }}" action="summary/notes" method="post">

                        <details {{ 'open' if draftNote | length }} class="govuk-details govuk-!-margin-bottom-0"
                                                                    data-module="govuk-details">
                            <summary class="govuk-details__summary govuk-!-margin-bottom-0 govuk-!-margin-top-2">
                                <span class="govuk-details__summary-text">Expand to add a hearing note</span>
                            </summary>
                            <div class="govuk-details__text govuk-!-padding-bottom-0">
                                <input type="hidden" name="hearingId" value="{{ params.hearing.hearingId }}"/>
                                <label class="govuk-label" for="note-box-{{ params.hearing.hearingId }}" type="hidden">Add information specific to this hearing.</label>
                                <textarea data-hearingid="{{ params.hearing.hearingId }}"
                                        class="govuk-textarea case-notes auto-save-text"
                                        id="note-box-{{ params.hearing.hearingId }}" name="note" rows="5"
                                        aria-describedby="note-box">{{ draftNote }}</textarea>
                                <div class="govuk-button-group">
                                    <button class="govuk-button action-button case-comments-save-button" type="submit" data-module="govuk-button">
                                        Save<span class="govuk-visually-hidden"> note for {{ params.hearing.hearingTypeLabel }}</span>
                                    </button>
                                    <a class="govuk-link note-draft-cancel-link"
                                    href="summary/notes/{{ params.hearing.hearingId }}/cancel-draft-note">Cancel<span class="govuk-visually-hidden"> saving note</span></a>
                                </div>
                            </div>
                        </details>
                    </form>
                </td>
            </tr>
        {% endif %}
    </table>
</div>