{% set tableData = {
  head: [
    { text: "Defendant" },
    { text: "Probation status" },
    { text: "Offence" },
    { text: "Listing" },
    { text: "Session" },
    { text: "Court" }
  ],
  rows: []
} %}

{% for item in data %}
  {% set caseData = item.data | json %}
  {% set offences = [] %}
  {% if caseData.offences.offence.title %}
    {{ offences.push(caseData.offences.offence.title | escape) }}
    {% elif caseData.offences.offence | length %}
    {{ offences.push('<ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">') }}
    {% for offence in caseData.offences.offence %}
      {{ offences.push('<li>' + offence.title |  escape + '</li>') }}
    {% endfor %}
    {{ offences.push('</ol>') }}
  {% endif %}
  {{ tableData.rows.push([
    { text: ('<a href="#" class="govuk-link govuk-link--no-visited-state">' + caseData.def_name | escape + '</a>') | safe },
    { text: item.probationStatus },
    { text: offences | join('') | safe },
    { text: caseData.listno },
    { text: item.session | capitalize },
    { text: item.courtRoom }
  ]) }}
{% endfor %}

{% extends "partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
    <span class="govuk-caption-xl">{{ params.courtName }}</span>
    {{ title }}
  </h1>

  {%  set today = params.moment().format('YYYY-MM-DD') %}
  {%  set tomorrow = params.moment().add(1, 'days').format('YYYY-MM-DD') %}
  {%  set dayAfter = params.moment().add(2, 'days').format('YYYY-MM-DD') %}
  {%  set lastUpdated = params.moment(params.lastUpdated).format('[Last updated] dddd, D MMMM YYYY [at] hh:mm') %}

  {% if params.date === today or params.date === tomorrow or params.date === dayAfter %}
    {% block subnavigation %}

      {%  set todayLong = params.moment(today).format('dddd, D MMMM YYYY') %}
      {%  set tomorrowLong = params.moment(tomorrow).format('dddd, D MMMM YYYY') %}
      {%  set dayAfterLong = params.moment(dayAfter).format('dddd, D MMMM YYYY') %}

      {%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
      {{ mojSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: todayLong,
          href: today,
          active: params.date === today
        }, {
          text: tomorrowLong,
          href: tomorrow,
          active: params.date === tomorrow
        }, {
          text: dayAfterLong,
          href: dayAfter,
          active: params.date === dayAfter
        }]
      }) }}
    {% endblock %}
  {% endif %}

  <p>{{ lastUpdated }}</p>

  {% if tableData.rows | length %}
    {% block table %}
      {%- from "govuk/components/table/macro.njk" import govukTable -%}
      {{ govukTable(tableData) }}
    {% endblock %}
  {% else %}
    <p class="govuk-body">No case data available for this day.</p>
  {% endif %}

{% endblock %}
