{% extends "partials/case-details.njk" %}

{%- set communityData = data.communityData -%}
{%- set activeOrders = [] -%}
{%- set previousOrders = [] -%}
{%- for order in communityData.convictions if communityData.convictions | length %}
    {% if order.sentence %}
        {% if order.active %}
                {{ activeOrders.push(order) }}
        {% else %}
            {{ previousOrders.push(order) }}
        {% endif %}
    {% endif %}
{% endfor -%}

{%- set offenderManager = {} -%}
{%- for manager in communityData.personalDetails.offenderManagers if communityData.personalDetails.offenderManagers | length %}
    {% if manager.active %}
        {%- set offenderManager = manager -%}
    {% endif %}
{% endfor -%}

{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if activeOrders | length %}
                <h2 class="govuk-heading-m">Current orders ({{ activeOrders | length }})</h2>
                {%- for order in activeOrders %}
                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="record/{{ order.convictionId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ order.sentence.description }}</a></p>
                    <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{ order.offences[0].detail.description }}</p>
                    <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">Started on {{ params.moment(order.referralDate, 'YYYY-MM-DD').format('D MMM YYYY') }}</p>

                    {% if order.requirements and order.requirements | length %}
                        <h3 class="govuk-heading-s">Requirements</h3>

                        <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                        {%- for requirement in order.requirements %}
                            <li>
                                {{ requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description }}
                                {{ '(' + (requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description) + ')' }}
                                {{ '- ' + requirement.length if requirement.length }}
                                {{ requirement.lengthUnit if requirement.lengthUnit }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />

                {% endfor -%}
            {% endif %}

            {% if previousOrders | length %}
                <h2 class="govuk-heading-m{% if activeOrders | length and previousOrders | length %} govuk-!-margin-top-8{% endif %}">Previous orders ({{ previousOrders | length }})</h2>
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        {%- for order in previousOrders %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-!-width-two-thirds">
                                    <p class="govuk-body govuk-!-margin-bottom-0"><a href="record/{{ order.convictionId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">{{ order.sentence.description }}</a></p>
                                    <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{ order.offences[0].detail.description }}</p>
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-one-third" style="vertical-align: bottom">
                                    <p class="govuk-hint govuk-!-margin-bottom-0">Ended on {{ params.moment(order.terminatedDate, 'YYYY-MM-DD').format('D MMM YYYY') }}</p>
                                </td>
                            </tr>
                        {% endfor -%}
                    </tbody>
                </table>
            {% endif %}

        </div>
        <div class="govuk-grid-column-one-third">

            <h3 class="govuk-heading-s">Offender Manager</h3>

            {% if offenderManager.active %}
                <p class="govuk-body govuk-!-margin-bottom-0">{{ offenderManager.staff.forenames }} {{ offenderManager.staff.surname }}</p>
                <p class="govuk-hint govuk-!-margin-top-1">Allocated on {{ params.moment(offenderManager.fromDate, 'YYYY-MM-DD').format('D MMM YYYY') }}</p>

                <p class="govuk-body govuk-!-margin-top-0">{{ offenderManager.probationArea.description }}<br/>
                {{ offenderManager.address.buildingName }}<br/>
                {{ offenderManager.address.addressNumber }} {{ offenderManager.address.streetName }}<br/>
                {{ offenderManager.address.town }}<br/>
                {{ offenderManager.address.county }}<br/>
                {{ offenderManager.address.postcode }}</p>

                <p class="govuk-body">Telephone: {{ offenderManager.team.telephone }}</p>
            {% else %}
                <p class="govuk-body">Not active</p>
            {% endif %}

        </div>
    </div>

{% endblock %}
