{% extends "partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Case list</h1>
  <p class="govuk-body">Walking skeleton case list view</p>
{% endblock %}
