{% extends "partials/layout.njk" %}

{% set title = "Authorisation Error" %}

{% block content %}
  <h1 class="govuk-heading-l">Authorisation Error</h1>
  <p class="govuk-body">You are not authorised to use this application.</p>
{% endblock %}
