{%- set hideSubnav = true -%}
{% extends "partials/case-details.njk" %}

{%- set moment = params.moment -%}
{% set activeRequirementTableData = {
    head: [
        { text: "Requirement" },
        { text: "Length" }
    ],
    rows: []
} %}

{% set inactiveRequirementTableData = {
    head: [
        { text: "Requirement" },
        { text: "Length" },
        { text: "Ended" },
        { text: "Reason" }
    ],
    rows: []
} %}

{%- set communityData = data.communityData -%}

{%- set currentOrder = {} -%}
{%- for order in communityData.convictions if communityData.convictions | length %}
    {% if order.convictionId | string === params.detail | string %}
        {%- set currentOrder = order -%}
    {% endif %}
{% endfor -%}

{% if currentOrder.sentence.currentOrderHeaderDetail.custodialTypeCode %}
    {%- set custodialOrder = currentOrder.sentence.currentOrderHeaderDetail -%}
    {%- set isOnLicence = moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').isAfter() -%}
{% endif %}

{%- set preciseDiff = params.preciseDiff -%}

{%- for requirement in currentOrder.requirements %}
    {{ activeRequirementTableData.rows.push([
        { text: requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description + ' (' + (requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description) + ')', classes: 'govuk-table__cell'},
        { text: requirement.length + ' ' + (requirement.lengthUnit) if requirement.length else 'Unavailable ', classes: 'govuk-table__cell' }
    ]) }}
    {{ inactiveRequirementTableData.rows.push([
        { text: requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description + ' (' + (requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description) + ')', classes: 'govuk-table__cell govuk-!-width-one-half'},
        { text: requirement.length + ' ' + (requirement.lengthUnit) if requirement.length else 'Unavailable ', classes: 'govuk-table__cell govuk-!-width-one-quarter' },
        { text: moment(requirement.terminationDate, 'YYYY-MM-DD').format('D MMM YYYY') if requirement.terminationDate, classes: 'govuk-table__cell govuk-!-width-one-quarter' },
        { text: requirement.terminationReason.description if requirement.terminationReason.description, classes: 'govuk-table__cell govuk-!-width-one-quarter' }
    ]) }}
{% endfor -%}

{%- if moment(currentOrder.endDate, 'YYYY-MM-DD').isAfter() -%}
    {%- set elapsedTime = params.getMonthsAndDays(moment(currentOrder.convictionDate, 'YYYY-MM-DD'), moment()) -%}
{%- else -%}
    {%- set elapsedTime = params.getMonthsAndDays(moment(currentOrder.convictionDate, 'YYYY-MM-DD'), moment(currentOrder.endDate, 'YYYY-MM-DD')) -%}
{%- endif -%}

{% if currentOrder.active %}
    {# Group appointments by attended/absent and complied/failed #}
    {%- set attendances = communityData.attendanceDetails.attendances or [] -%}
    {%- set attendedAppointments = {
        complied: [],
        failed: []
    } -%}
    {%- set absentAppointments = {
        complied: [],
        failed: []
    } -%}
    {%- set awaitingOutcome = [] -%}
    {% for attended, attendances in attendances | groupby("attended") %}
        {% for complied, attendance in attendances | groupby("complied") %}
            {% if attended | string === "true" %}
                {{ attendedAppointments.complied.push(attendance) if complied | string === "true" }}
                {{ attendedAppointments.failed.push(attendance) if complied | string === "false" }}
                {% elif attended | string === "false" %}
                {{ absentAppointments.complied.push(attendance) if complied | string === "true" }}
                {{ absentAppointments.failed.push(attendance) if complied | string === "false" }}
            {% else %}
                {{ awaitingOutcome.push(attendance) }}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {# Create simplified appointments for sorting and display #}
    {%- set attendedComplied = [] -%}
    {%- set absentComplied = [] -%}
    {%- set attendedFailed = [] -%}
    {%- set absentFailed = [] -%}
    {% for description, complied in attendedAppointments.complied.flat(Infinity) | groupby(params.getPath("contact.description")) %}
        {{ attendedComplied.push({
            count: complied.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, complied in absentAppointments.complied.flat(Infinity) | groupby(params.getPath("outcome.description")) %}
        {{ absentComplied.push({
            count: complied.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, failed in attendedAppointments.failed.flat(Infinity) | groupby(params.getPath("contact.description")) %}
        {{ attendedFailed.push({
            count: failed.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, failed in absentAppointments.failed.flat(Infinity) | groupby(params.getPath("contact.description")) %}
        {{ absentFailed.push({
            count: failed.length,
            description: description
        }) }}
    {% endfor %}
{% endif %}

{% block caseContent %}

    {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
    {{ govukBackLink({
        classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-7',
        text: "Back to probation record",
        href: '/case/' + data.caseNo + '/record'
    }) }}

    <h2 class="govuk-heading-l govuk-!-margin-0">{{ currentOrder.sentence.description }}</h2>

    <div class="govuk-grid-row govuk-!-margin-top-4">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                {{ currentOrder.offences[0].description }}
            </p>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-start-title">{{ "Status" if custodialOrder else "Started" }}</p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-start-date">
                        {%- if custodialOrder -%}
                            {{  "On licence" if custodialOrder.custodialTypeCode === "B" else "On post-sentence supervision (PSS)" }}
                        {% else %}
                            {{ moment(currentOrder.convictionDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-end-title">
                        {% if custodialOrder %}
                            {{ "Licence started" if isOnLicence else "PSS started" }}
                        {% else %}
                            {{ "Ends" if currentOrder.active else "Ended" }}
                        {% endif %}
                    </p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-end-date">
                        {% if custodialOrder %}
                            {{ moment(custodialOrder.disposalDate, 'YYYY-MM-DD').format(displayDateFormat) if isOnLicence else moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% else %}
                            {{ moment(currentOrder.endDate, 'YYYY-MM-DD').format(displayDateFormat) if currentOrder.active else moment(currentOrder.sentence.terminationDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-elapsed-title">
                        {% if custodialOrder %}
                            {{ "Licence ends" if isOnLicence else "PSS ends" }}
                        {% else %}
                            {{ "Time elapsed" if currentOrder.active else "Reason" }}
                        {% endif %}
                    </p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-elapsed-time">
                        {% if custodialOrder %}
                            {{ moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) if isOnLicence else moment(custodialOrder.pssEndDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% else %}
                            {{ elapsedTime if currentOrder.active else currentOrder.sentence.terminationReason }}
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if currentOrder.requirements | length %}
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Requirements</h2>

                {%- from "govuk/components/table/macro.njk" import govukTable -%}
                {% if currentOrder.active %}
                    {{ govukTable(activeRequirementTableData) }}
                {% else %}
                    {{ govukTable(inactiveRequirementTableData) }}
                {% endif %}
            {% endif %}

        </div>
    </div>

    {% if currentOrder.breaches | length %}
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Breaches</h2>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Breach</th>
                        <th scope="col" class="govuk-table__header">Started</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body qa-breaches">
                    {% for breach in currentOrder.breaches %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a href="{{ currentOrder.convictionId }}/breach/{{ breach.breachId }}" class="qa-breach-link-{{ loop.index }} govuk-link govuk-link--no-visited-state">{{ breach.description }}</a></td>
                            <td class="govuk-table__cell">{{ moment(breach.started, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                            <td class="govuk-table__cell">{{ breach.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if currentOrder.active %}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Appointment attendance</h2>

        {% if attendances.length %}
            {% set sortedAttendances = attendances | sort(true, false, 'attendanceDate') %}
            <p class="govuk-body"><span class="govuk-!-font-weight-bold">Last attended</span> {{ moment(sortedAttendances[0].attendanceDate, 'YYYY-MM-DD').format(displayDateFormat) }} - {{ sortedAttendances[0].contact.description }} ({{ "Acceptable" if sortedAttendances[0].complied else "Unacceptable" }})</p>
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Appointments to date</h3>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-heading-m app-dashboard-count govuk-!-margin-bottom-0">{{ attendances | length }}</p>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-section-break--heavy govuk-!-width-two-thirds">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Complied</h3>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0"><span
                            class="govuk-heading-m app-dashboard-count">{{ attendedAppointments.complied.flat(Infinity) | length }}</span>Attendances
                </p>

                {% for complied in attendedComplied | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body app-dashboard-count">{{ complied.count }}</span>{{ complied.description }}
                    </p>
                {% endfor %}

                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-margin-top-2"><span
                            class="govuk-heading-m app-dashboard-count">{{ absentAppointments.complied.flat(Infinity) | length }}</span>Absences
                </p>

                {% for complied in absentComplied | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body app-dashboard-count">{{ complied.count }}</span>{{ complied.description }}
                    </p>
                {% endfor %}

            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-two-thirds">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Failures to comply</h3>
            </div>
            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0"><span
                            class="govuk-heading-m app-dashboard-count">{{ attendedAppointments.failed.flat(Infinity) | length }}</span>Attendances
                </p>

                {% for failed in attendedFailed | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body app-dashboard-count">{{ failed.count }}</span>{{ failed.description }}
                    </p>
                {% endfor %}

                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0 govuk-!-margin-top-2"><span
                            class="govuk-heading-m app-dashboard-count">{{ absentAppointments.failed.flat(Infinity) | length }}</span>Absences
                </p>

                {% for failed in absentFailed | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body app-dashboard-count">{{ failed.count }}</span>{{ failed.description }}
                    </p>
                {% endfor %}
            </div>
        </div>

        {% if awaitingOutcome.length %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-two-thirds">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter">
                    <h3 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Awaiting outcome</h3>
                </div>
                <div class="govuk-grid-column-three-quarters">
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-0"><span
                                class="govuk-heading-m app-dashboard-count">{{ awaitingOutcome | length }}</span></p>
                </div>
            </div>
        {% endif %}

        {%- set unpaidWork = communityData.attendanceDetails.unpaidWork -%}
        {% if unpaidWork %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Unpaid work</h2>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Status</dt>
                            <dd class="govuk-summary-list__value qa-upw-status">{{ unpaidWork.status }} {{ '- ' + moment(unpaidWork.statusDate, 'YYYY-MM-DD').format(displayDateFormat) if unpaidWork.statusDate }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hours ordered</dt>
                            <dd class="govuk-summary-list__value qa-upw-ordered">{{ unpaidWork.minutesOffered / 60 or '0' }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hours worked</dt>
                            <dd class="govuk-summary-list__value qa-upw-worked">{{ unpaidWork.minutesCompleted / 60 or '0' }}</dd>
                        </div>
                    </dl>

                    {% if unpaidWork.appointmentsToDate %}
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">View UPW attendance</span>
                            </summary>
                            <div class="govuk-details__text">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Appointments to date</dt>
                                        <dd class="govuk-summary-list__value qa-upw-appointments">{{ unpaidWork.appointmentsToDate or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Attended</dt>
                                        <dd class="govuk-summary-list__value qa-upw-attended">{{ unpaidWork.attended or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Acceptable absences</dt>
                                        <dd class="govuk-summary-list__value qa-upw-acceptable">{{ unpaidWork.acceptableAbsences or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Failures to comply</dt>
                                        <dd class="govuk-summary-list__value qa-upw-unacceptable">{{ unpaidWork.unacceptableAbsences or '0' }}</dd>
                                    </div>
                                </dl>
                            </div>
                        </details>

                    {% endif %}

                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}
