{%- set hideSubnav = true -%}
{% extends "partials/case-details.njk" %}

{%- set moment = params.moment -%}
{% set activeRequirementTableData = {
    head: [
        { text: "Requirement" },
        { text: "Length" }
    ],
    rows: []
} %}

{% set inactiveRequirementTableData = {
    head: [
        { text: "Requirement" },
        { text: "Length" },
        { text: "Ended" },
        { text: "Reason" }
    ],
    rows: []
} %}

{%- set communityData = data.communityData -%}

{%- set currentOrder = {} -%}
{%- for order in communityData.convictions if communityData.convictions | length %}
    {% if order.convictionId | string === params.convictionId | string %}
        {%- set currentOrder = order -%}
    {% endif %}
{% endfor -%}

{% if currentOrder.sentence.currentOrderHeaderDetail.custodialTypeCode %}
    {%- set custodialOrder = currentOrder.sentence.currentOrderHeaderDetail -%}
    {%- set isOnLicence = moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').isAfter() -%}
{% endif %}

{%- set preciseDiff = params.preciseDiff -%}


{%- for requirement in currentOrder.requirements %}
    {% set category = requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description %}
    {% set subCategory = requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description %}

    {{ activeRequirementTableData.rows.push([
        { text: category + " (" + subCategory + ")" if category !== subCategory else category, classes: 'govuk-table__cell' },
        { text: requirement.length + ' ' + (requirement.lengthUnit) if requirement.length else 'Unavailable ', classes: 'govuk-table__cell' }
    ]) }}
    {{ inactiveRequirementTableData.rows.push([
        { text: category + " (" + subCategory + ")" if category !== subCategory else category, classes: 'govuk-table__cell govuk-!-width-one-half'},
        { text: requirement.length + ' ' + (requirement.lengthUnit) if requirement.length else 'Unavailable ', classes: 'govuk-table__cell govuk-!-width-one-quarter' },
        { text: moment(requirement.terminationDate, 'YYYY-MM-DD').format('D MMM YYYY') if requirement.terminationDate, classes: 'govuk-table__cell govuk-!-width-one-quarter' },
        { text: requirement.terminationReason.description if requirement.terminationReason.description, classes: 'govuk-table__cell govuk-!-width-one-quarter' }
    ]) }}
{% endfor -%}

{%- if moment(currentOrder.endDate, 'YYYY-MM-DD').isAfter() -%}
    {%- set elapsedTime = params.getMonthsAndDays(moment(currentOrder.sentence.startDate, 'YYYY-MM-DD'), moment()) -%}
{%- else -%}
    {%- set elapsedTime = params.getMonthsAndDays(moment(currentOrder.sentence.startDate, 'YYYY-MM-DD'), moment(currentOrder.endDate, 'YYYY-MM-DD')) -%}
{%- endif -%}

{% if currentOrder.active %}
    {# Group appointments by attended/absent and complied/failed #}
    {%- set attendances = communityData.sentenceDetails.attendances or [] -%}
    {%- set attendedAppointments = {
        complied: [],
        failed: []
    } -%}
    {%- set absentAppointments = {
        complied: [],
        failed: []
    } -%}
    {%- set awaitingOutcome = [] -%}
    {% for attendance in attendances %}
        {% if attendance.attended | string === "true" and attendance.complied | string === "true" %}
            {{ attendedAppointments.complied.push(attendance) }}
        {% elif attendance.attended | string === "true" and attendance.complied | string === "false" %}
            {{ attendedAppointments.failed.push(attendance) }}
        {% elif attendance.attended | string === "false" and attendance.complied | string === "true" %}
            {{ absentAppointments.complied.push(attendance) }}
        {% elif attendance.attended | string === "false" and attendance.complied | string === "false" and attendance.outcome %}
            {{ absentAppointments.failed.push(attendance) }}
        {% else %}
            {{ awaitingOutcome.push(attendance) }}
        {% endif %}
    {% endfor %}

    {# Create simplified appointments for sorting and display #}
    {%- set attendedComplied = [] -%}
    {%- set absentComplied = [] -%}
    {%- set attendedFailed = [] -%}
    {%- set absentFailed = [] -%}
    {% for description, complied in attendedAppointments.complied.flat(Infinity) | groupby(params.getPath("contactType.description")) %}
        {{ attendedComplied.push({
            count: complied.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, complied in absentAppointments.complied.flat(Infinity) | groupby(params.getPath("outcome")) %}
        {{ absentComplied.push({
            count: complied.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, failed in attendedAppointments.failed.flat(Infinity) | groupby(params.getPath("contactType.description")) %}
        {{ attendedFailed.push({
            count: failed.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, failed in absentAppointments.failed.flat(Infinity) | groupby(params.getPath("contactType.description")) %}
        {{ absentFailed.push({
            count: failed.length,
            description: description
        }) }}
    {% endfor %}
{% endif %}

{% block backlink %}
    {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
    {{ govukBackLink({
        text: "Back to probation record",
        href: '/case/' + data.caseNo + '/record'
    }) }}
{% endblock %}

{% block caseContent %}

    <h2 class="govuk-heading-l govuk-!-margin-0">{{ currentOrder.sentence.description + (' (' + currentOrder.sentence.length + ' ' + currentOrder.sentence.lengthUnits + ')' if currentOrder.sentence.length)}}</h2>

    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                {{ currentOrder.offences[0].description }}
            </p>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-start-title">{{ "Post-release status" if custodialOrder else "Started" }}</p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-start-date">
                        {%- if custodialOrder -%}
                            {{ "On licence" if custodialOrder.custodialTypeCode === "B" else "On post-sentence supervision (PSS)" }}
                        {% else %}
                            {{ moment(currentOrder.sentence.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-end-title">
                        {% if custodialOrder %}
                            {{ "Licence started" if isOnLicence else "PSS started" }}
                        {% else %}
                            {{ "Ends" if currentOrder.active else "Ended" }}
                        {% endif %}
                    </p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-end-date">
                        {% if custodialOrder %}
                            {{ moment(custodialOrder.disposalDate, 'YYYY-MM-DD').format(displayDateFormat) if isOnLicence else moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% else %}
                            {{ moment(currentOrder.endDate, 'YYYY-MM-DD').format(displayDateFormat) if currentOrder.active else moment(currentOrder.sentence.terminationDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-elapsed-title">
                        {% if custodialOrder %}
                            {{ "Licence ends" if isOnLicence else "PSS ends" }}
                        {% else %}
                            {{ "Time elapsed" if currentOrder.active else "Reason" }}
                        {% endif %}
                    </p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-elapsed-time">
                        {% if custodialOrder %}
                            {{ moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) if isOnLicence else moment(custodialOrder.pssEndDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% else %}
                            {{ elapsedTime if currentOrder.active else currentOrder.sentence.terminationReason }}
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if custodialOrder.custodialTypeCode === "B" %}
                {% if currentOrder.licenceConditions | length %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Licence conditions</h2>
                    <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                        {%- for licenceConditions in currentOrder.licenceConditions %}
                            <li>
                                {{ licenceConditions.description }}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="" class=" govuk-body-m govuk-link govuk-link--no-visited-state">View licence conditions details</a>
                {% endif %}
            {% else %}
                {% if currentOrder.pssRequirements | length %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Post-sentence supervision requirements</h2>
                    <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                        {%- for pssRequirement in currentOrder.pssRequirements %}
                            <li>
                                {{ pssRequirement.description  + (' - ' + pssRequirement.subTypeDescription if pssRequirement.subTypeDescription | length) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}

            {% if currentOrder.requirements | length %}
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Requirements</h2>

                {%- from "govuk/components/table/macro.njk" import govukTable -%}
                {% if currentOrder.active %}
                    {{ govukTable(activeRequirementTableData) }}
                {% else %}
                    {{ govukTable(inactiveRequirementTableData) }}
                {% endif %}
            {% endif %}

        </div>
    </div>

    {% if currentOrder.breaches | length %}
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Breaches</h2>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Breach</th>
                        <th scope="col" class="govuk-table__header">Started</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body qa-breaches">
                    {% for breach in currentOrder.breaches %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a
                                        href="{{ currentOrder.convictionId }}/breach/{{ breach.breachId }}"
                                        class="qa-breach-link-{{ loop.index }} govuk-link govuk-link--no-visited-state">{{ breach.description }}</a>
                            </td>
                            <td class="govuk-table__cell">{{ moment(breach.started, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                            <td class="govuk-table__cell">{{ breach.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if currentOrder.active %}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Attendance</h2>

        {% if attendances.length %}
            {% set sortedAttendances = attendances | sort(true, false, 'attendanceDate') %}
            <p class="govuk-body"><span
                        class="govuk-!-font-weight-bold">Last attended:</span> {{ moment(sortedAttendances[0].attendanceDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                - {{ sortedAttendances[0].contactType.description }}
                ({{ "Acceptable" if sortedAttendances[0].complied else "Unacceptable" }})</p>
        {% endif %}

        <div class="govuk-!-padding-top-2">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Appointments to date</span></h3>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-heading-m govuk-!-margin-bottom-0"><span
                                class="pac-dashboard-count">{{ attendances | length }}</span></p>
                </div>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-section-break--heavy govuk-!-width-two-thirds">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Acceptable</span></h3>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ attendedAppointments.complied.flat(Infinity) | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Attendances</span>
                </p>
                {% for complied in attendedComplied | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ complied.count }}</span>{{ complied.description }}
                    </p>
                {% endfor %}
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ absentAppointments.complied.flat(Infinity) | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences </span></p>
                {% for complied in absentComplied | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ complied.count }}</span>{{ complied.description }}
                    </p>
                {% endfor %}
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-two-thirds">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Unacceptable</span></h3>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ attendedAppointments.failed.flat(Infinity) | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Attendances</span>
                </p>
                {% for failed in attendedFailed | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ failed.count }}</span>{{ failed.description }}
                    </p>
                {% endfor %}
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ absentAppointments.failed.flat(Infinity) | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences </span></p>
                {% for failed in absentFailed | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ failed.count }}</span>{{ failed.description }}
                    </p>
                {% endfor %}
            </div>
        </div>

        {% if awaitingOutcome.length %}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-two-thirds">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Awaiting outcome</span></h3>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-heading-m govuk-!-margin-bottom-1 pac-dashboard-count">{{ awaitingOutcome | length }}
                    </p>
                </div>
            </div>
        {% endif %}

        {%- set unpaidWork = communityData.sentenceDetails.unpaidWork -%}
        {% if unpaidWork %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Unpaid work</h2>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Status</dt>
                            <dd class="govuk-summary-list__value qa-upw-status">{{ unpaidWork.status }} {{ '- ' + moment(unpaidWork.statusDate, 'YYYY-MM-DD').format(displayDateFormat) if unpaidWork.statusDate }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hours ordered</dt>
                            <dd class="govuk-summary-list__value qa-upw-ordered">{{ unpaidWork.minutesOffered / 60 or '0' }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hours worked</dt>
                            <dd class="govuk-summary-list__value qa-upw-worked">{{ unpaidWork.minutesCompleted / 60 or '0' }}</dd>
                        </div>
                    </dl>

                    {% if unpaidWork.appointmentsToDate %}
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">View UPW attendance</span>
                            </summary>
                            <div class="govuk-details__text">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Appointments to date</dt>
                                        <dd class="govuk-summary-list__value qa-upw-appointments">{{ unpaidWork.appointmentsToDate or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Attended</dt>
                                        <dd class="govuk-summary-list__value qa-upw-attended">{{ unpaidWork.attended or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Acceptable absences</dt>
                                        <dd class="govuk-summary-list__value qa-upw-acceptable">{{ unpaidWork.acceptableAbsences or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Failures to comply</dt>
                                        <dd class="govuk-summary-list__value qa-upw-unacceptable">{{ unpaidWork.unacceptableAbsences or '0' }}</dd>
                                    </div>
                                </dl>
                            </div>
                        </details>

                    {% endif %}

                </div>
            </div>
        {% endif %}

    {% endif %}

{% endblock %}
