{% extends "partials/case-details.njk" %}

{%- set moment = params.moment -%}
{%- set courtRoom = data.courtRoom - 0 -%}
{%- set communityData = data.communityData -%}
{% set bannerHtml %}
    <h2 class="govuk-heading-m">{{ data.numberOfPossibleMatches }} possible nDelius records found for {{ data.defendantName }}.
    <a href="/match/defendant/{{ data.caseNo }}" class="govuk-link govuk-link--no-visited-state">Review records</a>
    </h2>
{% endset %}

{% block message %}
    {%- from "components/match-confirmation/macro.njk" import pacMatchConfirmation -%}
    {{ pacMatchConfirmation({
        matchName: session.confirmedMatch.name,
        matchType: session.confirmedMatch.matchType
    }) }}

    {% if data.numberOfPossibleMatches > 0 and not session.confirmedMatch.name %}
        {%- from "moj/components/banner/macro.njk" import mojBanner -%}
        {{ mojBanner({
            classes: 'govuk-!-display-inline-block',
            type: 'information',
            html: bannerHtml
        }) }}
    {% endif %}
{% endblock %}

{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Case summary</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Appearance</h2>
            <p class="govuk-body">Court {{ courtRoom }}, {{ data.session | lower }} session,
                {{ moment(data.sessionStartTime).format('dddd D MMMM') }} ({{ data.listNo }}
                listing).</p>

            <h2 class="govuk-heading-m govuk-!-margin-top-9">Offences</h2>

            {% set offences = [] %}
            {% for offence in data.offences %}
                {{ offences.push(data.offences) | length }}
            {% endfor %}
            {% if offences | length < 2 %}
                {% for offence in data.offences %}
                    <p class="govuk-body govuk-!-font-weight-bold">{{ offence.offenceTitle }}</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.offenceSummary }}</p>
                    <p class="govuk-caption-m govuk-!-margin-top-3">{{ offence.act }}</p>
                {% endfor %}
                {% elif offences | length > 1 %}
                <div class="govuk-accordion" data-module="govuk-accordion">
                    {% for offence in data.offences %}
                        <div class="govuk-accordion__section ">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button govuk-!-font-size-19">{{ offence.offenceTitle }}</span>
                                </h2>
                            </div>
                            <div class="govuk-accordion__section-content">
                                <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.offenceSummary }}</p>
                                <p class="govuk-caption-m govuk-!-margin-top-3">{{ offence.act }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            <h2 class="govuk-heading-m govuk-!-margin-top-9">
                Defendant details
            </h2>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.defendantName }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.defendantSex === "F" %}Female{% elif data.defendantSex === "M" %}Male{% else %}Unknown{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ moment(data.defendantDob, 'YYYY-MM-DD').format('D MMMM YYYY') }}
                        ({{ moment().diff(moment(data.defendantDob, 'YYYY-MM-DD'), 'years') }} years old)
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nationality
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.nationality1 or "Unknown" }}{{ " / " + data.nationality2 if data.nationality2 }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {%- set address = data.defendantAddress -%}
                        {% if address.line1 %}{{ address.line1 }}<br/>{% endif %}
                        {% if address.line2 %}{{ address.line2 }}<br/>{% endif %}
                        {% if address.line3 %}{{ address.line3 }}<br/>{% endif %}
                        {% if address.line4 %}{{ address.line4 }}<br/>{% endif %}
                        {% if address.line5 %}{{ address.line5 }}<br/>{% endif %}
                        {% if address.postcode %}{{ address.postcode | upper }}{% endif %}
                    </dd>
                </div>
            </dl>

        </div>
        <div class="govuk-grid-column-one-third"></div>
    </div>

{% endblock %}
