{% extends "partials/case-details.njk" %}

{%- set moment = params.moment -%}
{% set courtRoom = data.courtRoom | replace("0", "") if data.courtRoom | first === "0" else data.courtRoom -%}
{%- set communityData = data.communityData -%}
{% set defendantFullName = (data.name.forename1 + ' ' + data.name.surname) if (data.name.forename1 and data.name.surname) else data.defendantName %}

{% set bannerHtml %}
    {% set recordCount = 'record' if data.numberOfPossibleMatches === 1 else 'records' %}
    <div role="dialog" aria-labelledby="bannerDialogTitle" aria-describedby="bannerDialogDesc">
        <span id="bannerDialogTitle" class="govuk-visually-hidden" hidden>Defendant partially matches existing records and needs review.</span>
        <h2 class="govuk-heading-m" id="bannerDialogDesc">
            {{ data.numberOfPossibleMatches }} possible NDelius {{ recordCount }} found for {{ defendantFullName | apostropheInName | properCase | removeTitle }}.
            <a href="/case/{{ data.caseId }}/match/defendant/{{ data.defendantId }}" class="govuk-link govuk-link--no-visited-state">Review {{ recordCount }}</a>
        </h2>
    </div>
{% endset %}

{% block message %}
    {%- from "components/match-confirmation/macro.njk" import pacMatchConfirmation -%}
    {{ pacMatchConfirmation({
        matchName: session.confirmedMatch.name,
        matchType: session.confirmedMatch.matchType
    }) }}

    {% if data.probationStatus and data.probationStatus | string | lower === "possible ndelius record" %}
        {%- from "moj/components/banner/macro.njk" import mojBanner -%}
        {{ mojBanner({
            classes: 'govuk-!-display-inline-block',
            type: 'information',
            html: bannerHtml
        }) }}
    {% endif %}
{% endblock %}

{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Case summary</h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Appearance</h2>
            <p class="govuk-body">Court {{ courtRoom }}, {{ data.session | lower }} session,
                {{ moment(data.sessionStartTime).format('dddd D MMMM') }} ({{ data.listNo }}
                listing).</p>

            {% if data.source | length %}
            <p class="govuk-caption-m govuk-!-margin-top-3">Source:
            {{ data.source | replace("_", " ") | title }}{% if data.source | lower === "libra" %}, case number {{ data.caseNo }}{% endif %}
            </p>
            {% endif %}

            <h2 class="govuk-heading-m govuk-!-margin-top-9">Offences</h2>

            {% set offences = [] %}
            {% for offence in data.offences %}
                {{ offences.push(data.offences) | length }}
            {% endfor %}
            {% if offences | length < 2 %}
                {% for offence in data.offences %}
                    <p class="govuk-body govuk-!-font-weight-bold">{{ offence.offenceTitle }}</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.offenceSummary }}</p>
                    <p class="govuk-caption-m govuk-!-margin-top-3">{{ offence.act }}</p>
                {% endfor %}
                {% elif offences | length > 1 %}
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-{{ params.caseNo }}">
                    {% for offence in data.offences %}
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                    <span class="govuk-accordion__section-button govuk-!-font-size-19">{{ offence.offenceTitle }}</span>
                                </h2>
                            </div>
                            <div class="govuk-accordion__section-content" id="accordion-{{ params.caseNo }}-content-{{ loop.index }}">
                                <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.offenceSummary }}</p>
                                <p class="govuk-caption-m govuk-!-margin-top-3">{{ offence.act }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <h2 class="govuk-heading-m govuk-!-margin-top-9">
                Defendant details
            </h2>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ defendantFullName | apostropheInName | properCase | removeTitle }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.defendantSex === "F" %}Female{% elif data.defendantSex === "M" %}Male{% else %}Unknown{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.defendantDob | length %}
                        {{ moment(data.defendantDob, 'YYYY-MM-DD').format('D MMMM YYYY') }}
                        ({{ moment().diff(moment(data.defendantDob, 'YYYY-MM-DD'), 'years') }} years old)
                        {% else %}
                        Unknown
                        {% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Nationality
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.nationality1 or "Unknown" }}{{ " / " + data.nationality2 if data.nationality2 }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {%- set address = data.defendantAddress -%}
                        {% if address.line1 %}{{ address.line1 }}<br/>{% endif %}
                        {% if address.line2 %}{{ address.line2 }}<br/>{% endif %}
                        {% if address.line3 %}{{ address.line3 }}<br/>{% endif %}
                        {% if address.line4 %}{{ address.line4 }}<br/>{% endif %}
                        {% if address.line5 %}{{ address.line5 }}<br/>{% endif %}
                        {% if address.postcode %}{{ address.postcode | upper }}{% endif %}
                    </dd>
                </div>
            </dl>

        </div>
        <div class="govuk-grid-column-one-third"></div>
    </div>

{% endblock %}
