{%- set moment = params.moment -%}
{%- set displayFilters = (params.subsection === '' or params.subsection === 'heard') and (params.caseCount or params.filtersApplied) -%}

{%- from "components/tabs/macro.njk" import pacTabs -%}

{% block javascripts %}
    {% if displayFilters %}
        <script type="text/javascript" src="/javascripts/filter-component-{{ appVersion }}.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="/javascripts/workflow-tasks-prep-status-selector-{{ appVersion }}.min.js"></script>
{% endblock %}

{% set today = moment().format('YYYY-MM-DD') %}
{% set isSunday = moment().day() === 0 %}
{% set dateFormat = 'dddd D MMMM' %}
{% set currentDate = moment(params.date, 'YYYY-MM-DD') %}
{% set useStartDate = moment().subtract(params.casesPastDays, 'days') %}

{% set tomorrow = moment().add(1, 'days').format('YYYY-MM-DD') %}
{% set yesterday = moment().subtract(1, 'days').format('YYYY-MM-DD') %}
{% set withinDateRange = currentDate.isBetween(useStartDate, params.addBusinessDays(useStartDate, params.totalDays - 1), 'day', '[]') %}




{% if params.subsection === '' %}
    {% set title = "Case list" %}
{% elseif params.subsection === 'added' %}
    {% set title = "Recently added cases" %}
{% elseif params.subsection === 'removed' %}
    {% set title = "Removed cases" %}
{% endif %}


{% if params.hearingOutcomesEnabled %}
    {% set listTabs = [
        {
            title: 'Hearing outcome still to be added',
            a11yTitle: 'View outcome still to be added case list',
            link: '/' + params.courtCode + '/cases/' + params.date,
            current: params.subsection === ''
        },
        {
            title: 'Hearing outcome added',
            a11yTitle: 'View outcome added case list',
            link: '/' + params.courtCode + '/cases/' + params.date + '/heard',
            current: params.subsection === 'heard'
        }
    ] -%}
{% else %}

    {% set listTabs = [{
        title: 'Case list',
        a11yTitle: 'View current case list',
        link: '/' + params.courtCode + '/cases/' + params.date,
        current: params.subsection === ''
    }]
    %}

{% endif %}

{% set recentlyAddedPageItems = [] %}
{% for recentlyAdded in range(pagination.startNum, pagination.endNum + 1) -%}
    {{ recentlyAddedPageItems.push({
        text: recentlyAdded,
        href: '/' + params.courtCode + '/cases/' + params.date + '/' + params.subsection + '?page=' + recentlyAdded,
        selected: pagination.currentPage === recentlyAdded
    }) }}
{%- endfor %}
{% if params.addedCount > 0 %}
    {{ listTabs.push({
        title: 'Recently added',
        a11yTitle: 'View list of recently added cases',
        link: '/' + params.courtCode + '/cases/' + params.date + '/added',
        current: params.subsection === 'added',
        count: params.addedCount
    }) }}
{% endif %}

{% if pagination.currentPage === pagination.totalPages %}
    {% set nextLink = null %}
{% else %}
    {% set recentlyAddedNextLink = {
        text: 'Next',
        href: '/' + params.courtCode + '/cases/' + params.date +  '/' + params.subsection + '?page=' +  (pagination.currentPage + 1)
    } %}
{% endif %}

{% if params.removedCount > 0 %}
    {{ listTabs.push({
        title: 'Removed cases',
        a11yTitle: 'View list of removed cases',
        link: '/' + params.courtCode + '/cases/' + params.date + '/removed',
        current: params.subsection === 'removed',
        count: params.removedCount
    }) }}
{% endif %}

{% extends "partials/layout.njk" %}

{% block content %}

    {% if params.notification and params.notification | length %}
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
        {{ govukNotificationBanner({
            html: "<span class='govuk-notification-banner__heading'>" + params.notification | safe + "</span>"
        }) }}
    {% endif %}

    {%- from "components/search/macro.njk" import pacSearch -%}
    {{ pacSearch({
        search: search,
        term: data.term,
        courtCode: params.courtCode
    }) }}

    <h1 class="qa-case-list-day govuk-heading-xl govuk-!-margin-bottom-6" aria-label="Case list for {{ currentDate.format(dateFormat) }}">
        {% if params.date === yesterday and not isSunday %}
            {{ currentDate.format(dateFormat) }} <span class="pac-secondary-text">(Yesterday)</span>
        {% elseif params.date === today %}
            {{ currentDate.format(dateFormat) }} <span class="pac-secondary-text">(Today)</span>
        {% elseif params.date === tomorrow and not isSunday %}
            {{ currentDate.format(dateFormat) }} <span class="pac-secondary-text">(Tomorrow)</span>
        {% else %}
            {{ currentDate.format(dateFormat) }}
        {% endif %}
    </h1>

    {% if withinDateRange %}
        {%- from "components/days-navigation/macro.njk" import pacDaysNavigation -%}
        {{ pacDaysNavigation({
            baseUrl:  '/' + params.courtCode + '/cases',
            addBusinessDays: params.addBusinessDays,
            totalDays: params.totalDays,
            startDate: useStartDate,
            currentDate: currentDate,
            today: today,
            enablePastCasesNavigation: params.enablePastCasesNavigation
        }) }}
    {% else %}
        <nav class="govuk-body govuk-!-margin-bottom-6" aria-label="Date navigation">
            <a class="govuk-link govuk-link--no-visited-state pac-!-no-underline" href="/{{ params.courtCode }}/cases">Go to today</a>
        </nav>
    {% endif %}

    {% if params.unmatchedRecords > 0 %}
        {%- from "components/inset-text/macro.njk" import insetText -%}
        {% set defendantPluralised = 'defendant' if params.unmatchedRecords <= 1 else 'defendants' %}
        {% set recordPluralised = 'record' if params.unmatchedRecords <= 1 else 'records' %}
        {% set matchPluralised = 'matches' if params.unmatchedRecords <= 1 else 'match' %}
        {% set needPluralised = 'needs' if params.unmatchedRecords <= 1 else 'need' %}
        {{ insetText({
            linkText: "Review " + defendantPluralised + " with possible NDelius " + recordPluralised,
            link: '/' + params.courtCode + "/match/bulk/" + params.date,
            text: params.unmatchedRecords + " " + defendantPluralised + " partially " + matchPluralised + " existing records and " + needPluralised + " review."
        }) }}
    {% endif %}


    {%- if params.date !== today %}
        {% if params.hearingOutcomesEnabled %}
            {% set listTabs = listTabs.splice(0,2) %}
        {% else %}
            {% set listTabs = listTabs.splice(0,1) %}
        {% endif %}
    {% endif -%}

    {% if displayFilters %}
        {%- from "components/filter/macro.njk" import pacFilter -%}
        {{ pacFilter({
            filters: params.filters
        }) }}
    {% endif %}

    <div class="govuk-tabs" data-module="govuk-tabs">
        
        {{ pacTabs({
            items: listTabs,
            nonce: res.locals.nonce,
            controls: "case-list"
        }) }}

        <div class="govuk-tabs__panel">
            {% if tableData.rows | length %}
                {% block table %}
                    <span class="govuk-heading-m">{{ params.caseCount }} case{{ 's' if params.caseCount > 1 }} {% if params.subsection !== "" and params.subsection !== "heard" %} {% if params.subsection === "added" %}added to {% elseif params.subsection === "removed" %}removed from {% endif%} today's case list.{% endif %}</span>
                    {%- from "govuk/components/table/macro.njk" import govukTable -%}
                    {{ govukTable(tableData) }}
                {% endblock %}
            {% else %}
                {% if params.filtersApplied %}
                    <span class="govuk-heading-m">0 cases</span>
                {% endif %}
                <p class="govuk-body">{{ "There are no matching cases." if params.filtersApplied else "No case list information available." }}</p>
            {% endif %}

            {% if pagination.totalPages > 1 %}
                {%- set showSubsectionLinks = (params.subsection === 'added' or params.subsection === 'heard') -%}
                {% block pagination %}
                    {%- from "moj/components/pagination/macro.njk" import mojPagination -%}
                    {{ mojPagination({
                        results: {
                            from: params.from + 1,
                            to: params.to,
                            count: params.caseCount
                        },
                        previous: recentlyAddedPreviousLink if showSubsectionLinks else previousLink,
                        next: recentlyAddedNextLink if showSubsectionLinks else nextLink,
                        items: recentlyAddedPageItems if showSubsectionLinks else pageItems
                    }) }}
                {% endblock %}
            {% endif %}
        </div>
    </div>

{% endblock %}
