{%- set moment = params.moment -%}
{%- set displayFilters = params.subsection === '' and (params.caseCount or params.filtersApplied) -%}

{% block javascripts %}
    {% if displayFilters %}
        <script type="text/javascript" src="/javascripts/filter-component.min.js"/>
    {% endif %}
{% endblock %}

{% set tableData = {
    head: [
        { text: "Defendant" },
        { text: "Probation status" },
        { text: "Offence" },
        { text: "Listing" },
        { text: "Session" },
        { text: "Court", format: "numeric" }
    ],
    rows: []
} %}

{%- if params.subsection === 'removed' %}
    {{ tableData.head.push({ text: "Libra case number", format: "numeric" }) }}
{% endif -%}

{% for item in data %}

    {% set offences = [] %}
    {% set courtRoom = item.courtRoom - 0 %}
    {% set notMatched = item.probationStatus | string | lower == "possible ndelius record" %}
    {% if item.offences | length === 1 %}
        {% for offence in item.offences %}
            {{ offences.push(offence.offenceTitle | escape) }}
        {% endfor %}
        {% elif item.offences | length %}
        {{ offences.push('<ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">') }}
        {% for offence in item.offences %}
            {{ offences.push('<li>' + offence.offenceTitle | escape + '</li>') }}
        {% endfor %}
        {{ offences.push('</ol>') }}
    {% endif %}
    {% set defendantFullName = (item.name.forename1 + ' ' + item.name.surname) if (item.name.forename1 and item.name.surname) else item.defendantName %}
    {% set a11yTitle = 'View case for defendant ' + defendantFullName | escape | properCase | removeTitle %}
    {%- set tableRow = [
            { text: ('<a href="/' + params.courtCode + '/case/' + item.caseNo + '/summary" class="pac-defendant-link govuk-link govuk-link--no-visited-state" aria-label="' + a11yTitle + '">' + defendantFullName | escape | properCase | removeTitle + '</a>') | safe },
            { text: ('<div>' + ('<span class="moj-badge moj-badge--red pac-badge">Possible NDelius Record</span>' | safe if notMatched ) + ('<span class="moj-badge moj-badge--black pac-badge">Breach</span>' | safe if item.breach) + ('<span class="moj-badge moj-badge--black pac-badge">Sso</span>' | safe if item.suspendedSentenceOrder) + '</div>'+ (item.probationStatus | string | capitalize if not notMatched) + ('<span data-cy="previously-known-termination-date" class="govuk-caption-m">Order ended ' + moment(item.previouslyKnownTerminationDate, 'YYYY-MM-DD').format("D MMMM YYYY") | escape + '</span>' if item.previouslyKnownTerminationDate)) | safe },
            { text: offences | join('') | safe },
            { text: item.listNo },
            { text: item.session | capitalize },
            { text: courtRoom, format: "numeric"}
    ] -%}
    {%- if params.subsection === 'removed' %}
        {{ tableRow.push({ text: item.caseNo, format: "numeric" }) }}
    {% endif -%}
    {{ tableData.rows.push(tableRow) }}

{% endfor %}

{% set isSunday = moment().day() === 0 %}
{% set dateFormat = 'dddd D MMMM' %}
{% set timeStampDateFormat = 'ddd D MMM' %}
{% set useTodayDate = moment() if not isSunday else moment().add(1, 'days') %}
{% set currentDate = moment(params.date, 'YYYY-MM-DD') %}
{% set today = moment().format('YYYY-MM-DD') %}
{% set lastestSnapshotTime = moment(params.snapshot).format('hh:mm') %}
{% set tomorrow = moment().add(1, 'days').format('YYYY-MM-DD') %}
{% set withinDateRange = currentDate.isBetween(moment(), params.addBusinessDays(moment(), params.totalDays - 1), 'day', '[]') %}

{% set maxPagesDisplay = 5 %}
{% set currentPage = params.page %}
{% set startNum = currentPage - ((maxPagesDisplay - 1) / 2) %}
{% set endNum = currentPage + ((maxPagesDisplay - 1) / 2) %}
{% set totalPages = (params.caseCount / params.limit) | round(0, "ceil") %}

{% if startNum < 1 or totalPages <= maxPagesDisplay %}
    {% set startNum = 1 %}
    {% set endNum = maxPagesDisplay %}
    {% elif endNum > totalPages %}
    {% set startNum = totalPages - (maxPagesDisplay - 1) %}
{% endif %}

{% if endNum > totalPages %}
    {% set endNum = totalPages %}
{% endif %}

{% set pageItems = [] %}
{% for i in range(startNum, endNum + 1) -%}
    {{ pageItems.push({
        text: i,
        href: '/' + params.courtCode + '/cases/' + today + '?page=' + i,
        selected: currentPage === i
    }) }}
{%- endfor %}

{% if currentPage === 1 %}
    {% set previousLink = null %}
{% else %}
    {% set previousLink = {
        text: 'Previous',
        href: '/' + params.courtCode + '/cases/' + today + '?page=' + (currentPage - 1)
    } %}
{% endif %}

{% if currentPage === totalPages %}
    {% set nextLink = null %}
{% else %}
    {% set nextLink = {
        text: 'Next',
        href: '/' + params.courtCode + '/cases/' + today + '?page=' + (currentPage + 1)
    } %}
{% endif %}

{% if params.subsection === '' %}
    {% set title = "Case list" %}
{% elseif params.subsection === 'added' %}
    {% set title = "Recently added cases" %}
{% elseif params.subsection === 'removed' %}
    {% set title = "Removed cases" %}
{% endif %}

{%- set listTabs = [{
    title: 'Case list',
    a11yTitle: 'View current case list',
    link: '/' + params.courtCode + '/cases/' + today,
    current: params.subsection === ''
}] -%}

{% if params.addedCount > 0 %}
    {{ listTabs.push({
        title: 'Recently added',
        a11yTitle: 'View list of recently added cases',
        link: '/' + params.courtCode + '/cases/' + today + '/added',
        current: params.subsection === 'added',
        count: params.addedCount
    }) }}
{% endif %}
{% if params.removedCount > 0 %}
    {{ listTabs.push({
        title: 'Removed cases',
        a11yTitle: 'View list of removed cases',
        link: '/' + params.courtCode + '/cases/' + today + '/removed',
        current: params.subsection === 'removed',
        count: params.removedCount
    }) }}
{% endif %}

{% extends "partials/layout.njk" %}

{% block content %}

    {% if params.notification and params.notification | length %}
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
        {{ govukNotificationBanner({
            html: "<span class='govuk-notification-banner__heading'>" + params.notification + "</span>"
        }) }}
    {% endif %}

    <h1 class="qa-case-list-day govuk-heading-xl govuk-!-margin-bottom-6">
        <span class="govuk-caption-xl">Cases</span>
        {% if params.date === today %}
            {{ currentDate.format(dateFormat) }} <span class="pac-secondary-text">(Today)</span>
        {% elseif params.date === tomorrow and not isSunday %}
            {{ currentDate.format(dateFormat) }} <span class="pac-secondary-text">(Tomorrow)</span>
        {% else %}
            {{ currentDate.format(dateFormat) }}
        {% endif %}
    </h1>

    {% if withinDateRange %}
        {%- from "components/days-navigation/macro.njk" import pacDaysNavigation -%}
        {% set totalDays = (params.totalDays - 1) if isSunday else params.totalDays %}
        {{ pacDaysNavigation({
            baseUrl:  '/' + params.courtCode + '/cases',
            addBusinessDays: params.addBusinessDays,
            totalDays: totalDays,
            startDate: useTodayDate,
            currentDate: currentDate
        }) }}
    {% endif %}

    {% if params.unmatchedRecords > 0 %}
        {%- from "components/inset-text/macro.njk" import insetText -%}
        {% set defendantPluralised = 'defendant' if params.unmatchedRecords <= 1 else 'defendants' %}
        {% set recordPluralised = 'record' if params.unmatchedRecords <= 1 else 'records' %}
        {% set matchPluralised = 'matches' if params.unmatchedRecords <= 1 else 'match' %}
        {% set needPluralised = 'needs' if params.unmatchedRecords <= 1 else 'need' %}
        {{ insetText({
            linkText: "Review " + defendantPluralised + " with possible NDelius " + recordPluralised,
            link: '/' + params.courtCode + "/match/bulk/" + params.date,
            text: params.unmatchedRecords + " " + defendantPluralised + " partially " + matchPluralised + " existing records and " + needPluralised + " review."
        }) }}
    {% endif %}

    {%- from "components/tabs/macro.njk" import pacTabs -%}

    {% if moment(params.date).format('YYYY-MM-DD') === today %}
        {% set lastUpdated = moment(params.snapshot).format('[List updated: Today at] hh:mma') %}
        {% if lastestSnapshotTime === "09:45"%}
            {% set nextUpdate = 'No further updates scheduled' %}
        {% elseif lastestSnapshotTime === "08:45"%}
            {% set nextUpdate = 'Next scheduled update: Today at 09:45am' %}
        {% else %}
            {% set nextUpdate = 'Next scheduled update: Today at 08:45am' %}
        {% endif %}
    {% elseif moment(params.date).isBefore(today) %}
            {% set lastUpdated = '' %}
            {% set nextUpdate = '' %}
    {% else %}
        {% set lastUpdated = moment(params.snapshot).format('[List created:] ' + timeStampDateFormat + ' [at] hh:mma') %}
        {% if moment(params.date).isBetween(moment('00:00:01', 'HH:mm:ss'), moment('08:44:59', 'HH:mm:ss'))%}
            {% set nextUpdate = moment(params.date).format('[Next scheduled update:] ' + timeStampDateFormat + ' [at 08:45am]') %}
        {% else %}
            {% set nextUpdate = moment(params.date).format('[Next scheduled update:] ' + timeStampDateFormat + ' [at 12:00am]') %}
        {% endif %}
    {% endif %}

    {%- if params.date !== today %}
        {% set listTabs = [listTabs | first] %}
    {% endif -%}

    {% if params.totalCount %}
        {% set status = ("<p class=\"govuk-body-s govuk-!-margin-bottom-1 pac-last-updated-stamp\">" + (lastUpdated | escape) + "</p>" + "<p class=\"govuk-body-s govuk-!-margin-bottom-0 pac-next-update-stamp\">" + (nextUpdate | escape) + "</p>") | safe %}
    {% else %}
        {% set status = "" %}
    {% endif %}

    {{ pacTabs({
        items: listTabs,
        status: status,
        controls: "case-list"
    }) }}

    {% if displayFilters %}
        {%- from "components/filter/macro.njk" import pacFilter -%}
        {{ pacFilter({
            filters: params.filters
        }) }}
    {% endif %}

    {% if tableData.rows | length %}
        {% block table %}
            <span class="govuk-heading-m">{{ params.caseCount }} case{{ 's' if params.caseCount > 1 }} {% if params.subsection !== "" %} {% if params.subsection === "added" %}added to {% else %}removed from {% endif%} today's case list.{% endif %}</span>
            {%- from "govuk/components/table/macro.njk" import govukTable -%}
            {{ govukTable(tableData) }}
        {% endblock %}
    {% else %}
        {% if params.filtersApplied %}
            <span class="govuk-heading-m">0 cases</span>
        {% endif %}
        <p class="govuk-body">{{ "There are no matching cases." if params.filtersApplied else "No case list information available." }}</p>
    {% endif %}

    {% if totalPages > 1 %}
        {% block pagination %}
            {%- from "moj/components/pagination/macro.njk" import mojPagination -%}
            {{ mojPagination({
                results: {
                    from: params.from + 1,
                    to: params.to,
                    count: params.caseCount
                },
                previous: previousLink,
                next: nextLink,
                items: pageItems
            }) }}
        {% endblock %}
    {% endif %}

{% endblock %}
