{% extends "partials/case-details.njk" %}

{%- set moment = params.moment -%}
{% set courtRoom = data.courtRoom | replace("0", "") if data.courtRoom | first === "0" else data.courtRoom -%}
{%- set communityData = data.communityData -%}
{% set defendantFullName = (data.name.forename1 + ' ' + data.name.surname) if (data.name.forename1 and data.name.surname) else data.defendantName %}

{% set bannerHtml %}
    {% set recordCount = 'record' if data.numberOfPossibleMatches === 1 else 'records' %}
    <div role="dialog" aria-labelledby="bannerDialogTitle" aria-describedby="bannerDialogDesc">
        <span id="bannerDialogTitle" class="govuk-visually-hidden" hidden>Defendant partially matches existing records and needs review.</span>
        <h2 class="govuk-heading-m" id="bannerDialogDesc">
            {{ data.numberOfPossibleMatches }} possible NDelius {{ recordCount }} found
            for {{ defendantFullName | apostropheInName | properCase | removeTitle }}.
            <a href="/{{ params.courtCode }}/case/{{ data.caseId }}/hearing/{{ data.hearingId }}/match/defendant/{{ data.defendantId }}"
               class="govuk-link govuk-link--no-visited-state">Review {{ recordCount }}</a>.
        </h2>
    </div>
{% endset %}

{% block message %}
    {%- from "components/match-confirmation/macro.njk" import pacMatchConfirmation -%}
    {{ pacMatchConfirmation({
        matchName: session.confirmedMatch.name,
        matchType: session.confirmedMatch.matchType
    }) }}

    {% if data.probationStatus and data.probationStatus | string | lower === "possible ndelius record" %}
        {%- from "moj/components/banner/macro.njk" import mojBanner -%}
        {{ mojBanner({
            classes: 'govuk-!-display-inline-block',
            type: 'information',
            html: bannerHtml
        }) }}
    {% endif %}
{% endblock %}

{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Case summary</h1>

        </div>
        <div hidden class="govuk-grid-column-one-quarter">
            <a class="govuk-link" href="{{ caseHistoryUrl }}">View case history (&#946;)</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h2 class="govuk-heading-m">Appearance</h2>
            <p class="govuk-body">Court {{ courtRoom | courtRoomDisplay }}, {{ data.session | lower }} session,
                {{ moment(data.sessionStartTime).format('dddd D MMMM') }}.</p>

            {% if data.source | length %}
                <p class="govuk-caption-m govuk-!-margin-top-3">Source:
                {{ data.source | replace("_", " ") | title }} {% if data.source | lower === "libra" %} <br/> Case number: {{ data.caseNo }} {% endif %} <br/> URN: {{ data.urn }}
                </p>
            {% endif %}

            <h2 class="govuk-heading-m govuk-!-margin-top-9">Offences</h2>

            {% set offences = [] %}
            {% for offence in data.offences %}
                {{ offences.push(data.offences) | length }}
            {% endfor %}
            {% if offences | length < 2 %}
                {% for offence in data.offences %}
                    <p class="govuk-body govuk-!-font-weight-bold">{{ offence.offenceTitle }}</p>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.offenceSummary }}</p>
                    <p class="govuk-caption-m govuk-!-margin-top-3">{{ offence.act }}</p>
                {% endfor %}
                {% elif offences | length > 1 %}
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-{{ params.caseId }}">
                    {% for offence in data.offences %}
                        <div class="govuk-accordion__section">
                            <div class="govuk-accordion__section-header">
                                <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button"
                                      id="accordion-{{ params.caseId }}-heading-{{ loop.index }}">
                                    <span class="pac-accordion-section-heading">{{ offence.offenceTitle }}</span>
                                </span>
                                </h2>
                            </div>
                            <div id="accordion-{{ params.caseId }}-content-{{ loop.index }}"
                                 class="govuk-accordion__section-content"
                                 aria-labelledby="accordion-{{ params.caseId }}-heading-{{ loop.index }}">
                                <p class="govuk-body govuk-!-margin-bottom-0">{{ offence.offenceSummary }}</p>
                                <p class="govuk-caption-m govuk-!-margin-top-3">{{ offence.act }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <h2 class="govuk-heading-m govuk-!-margin-top-9">
                Defendant details
            </h2>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ defendantFullName | apostropheInName | properCase | removeTitle }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Gender
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.defendantSex === "F" %}Female{% elif data.defendantSex === "M" %}Male{% elif data.defendantSex === "NS" %}Not specified{% else %}Unknown{% endif %}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data.defendantDob | length %}
                            {{ moment(data.defendantDob, 'YYYY-MM-DD').format('D MMMM YYYY') }}
                            ({{ moment().diff(moment(data.defendantDob, 'YYYY-MM-DD'), 'years') }} years old)
                        {% else %}
                            Unknown
                        {% endif %}
                    </dd>
                </div>

                {% set telephones = data.phoneNumber %}
                {% if data.source === "COMMON_PLATFORM" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Phone number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {% if telephones | length < 1 %}
                                {{ "Unavailable" }}
                            {% else %}
                                {% if telephones.home %}{{ telephones.home + " (Home)" }}<br/>{% endif %}
                                {% if telephones.mobile %}{{ telephones.mobile + " (Mobile)" }}<br/>{% endif %}
                                {% if telephones.work %}{{ telephones.work + " (Work)" }}{% endif %}
                            {% endif %}
                        </dd>
                    </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {%- set address = data.defendantAddress -%}
                        {% if address.line1 %}{{ address.line1 }}<br/>{% endif %}
                        {% if address.line2 %}{{ address.line2 }}<br/>{% endif %}
                        {% if address.line3 %}{{ address.line3 }}<br/>{% endif %}
                        {% if address.line4 %}{{ address.line4 }}<br/>{% endif %}
                        {% if address.line5 %}{{ address.line5 }}<br/>{% endif %}
                        {% if address.postcode %}{{ address.postcode | upper }}{% endif %}
                    </dd>
                </div>
            </dl>

        </div>
        <div class="govuk-grid-column-one-third"></div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds" id="caseComments">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <h2 class="govuk-heading-m">Comments</h2>
            <div class="govuk-form-group {{ "govuk-form-group--error" if session.caseCommentBlankError }}">
                <p id="comments-hint-p1" class="govuk-body">
                    Add notes and observations about this case. Your colleagues who use Prepare a Case will be able to read them.
                </p>
                <p id="comments-hint-p2" class="govuk-body govuk-!-margin-bottom-5">
                    These comments will not be saved to NDelius.
                </p>
                {% if session.caseCommentBlankError %}
                    <p id="more-detail-error" class="govuk-error-message govuk-!-margin-bottom-4">
                        <span class="govuk-visually-hidden">Error:</span> Enter a comment
                    </p>
                {% endif %}
                <form method="post" action="comment">
                    <textarea class="govuk-textarea {{ "govuk-textarea--error" if session.caseCommentBlankError }}" id="comment" name="comment" rows="5"></textarea>
                    <button type="submit" class="govuk-button" style="margin-bottom: 0" data-module="govuk-button">Save</button>
                    <input type="hidden" name="caseId" value="{{ data.caseId }}"/>
                </form>
            </div>

            {% if data.caseComments | length %}
                <h2 class="govuk-heading-s">Comments</h2>
                <table class="govuk-table" id="comments">
                    <tbody class="govuk-table__body">
                    {% for comment in data.caseComments %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                {{ comment.comment }}<br>
                                <span class="govuk-caption-m govuk-!-padding-top-2 govuk-!-padding-bottom-2 govuk-!-font-size-16">
                                            {{ comment.author }} on {{ comment.created | caseCommentTimeFormat }}
                                        </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
