{%- set hideSubnav = true -%}
{% extends "partials/case-details.njk" %}

{%- set moment = params.moment -%}
{% set activeRequirementTableData = {
    head: [
        { text: "Requirement" },
        { text: "Length" }
    ],
    rows: []
} %}

{% set inactiveRequirementTableData = {
    head: [
        { text: "Requirement" },
        { text: "Length" },
        { text: "Ended" },
        { text: "Reason" }
    ],
    rows: []
} %}

{%- set communityData = data.communityData -%}
{%- set custodialType = communityData.sentenceDetails.custody.custodialType.description -%}

{% if communityData.sentenceDetails.custody.custodialType.code %}
    {%- set custodialOrder = communityData.sentenceDetails.custody -%}
    {%- set isOnLicence = moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').isAfter() -%}
{% endif %}

{%- set preciseDiff = params.preciseDiff -%}

{%- for requirement in communityData.requirements %}
    {% set category = requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description %}
    {% set subCategory = requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description %}

    {{ activeRequirementTableData.rows.push([
        { text: category + " (" + subCategory + ")" if category !== subCategory else category, classes: 'govuk-table__cell' },
        { text: requirement.length + ' ' + (requirement.lengthUnit) if requirement.length else 'Unavailable ', classes: 'govuk-table__cell' }
    ]) }}
    {{ inactiveRequirementTableData.rows.push([
        { text: category + " (" + subCategory + ")" if category !== subCategory else category, classes: 'govuk-table__cell'},
        { text: requirement.length + ' ' + (requirement.lengthUnit) if requirement.length else 'Unavailable ', classes: 'govuk-table__cell' },
        { text: moment(requirement.terminationDate, 'YYYY-MM-DD').format('D MMM YYYY') if requirement.terminationDate, classes: 'govuk-table__cell' },
        { text: requirement.terminationReason.description if requirement.terminationReason.description, classes: 'govuk-table__cell' }
    ]) }}
{% endfor -%}

{%- if moment(communityData.sentence.endDate, 'YYYY-MM-DD').isAfter() -%}
    {%- set elapsedTime = params.getMonthsAndDays(moment(communityData.sentence.startDate, 'YYYY-MM-DD'), moment()) -%}
{%- else -%}
    {%- set elapsedTime = params.getMonthsAndDays(moment(communityData.sentence.startDate, 'YYYY-MM-DD'), moment(communityData.sentence.endDate, 'YYYY-MM-DD')) -%}
{%- endif -%}

{% if communityData.active %}
    {# Group appointments by attended/absent and complied/failed #}
    {%- set attendances = communityData.sentenceDetails.attendances or [] -%}
    {%- set attendedAppointments = {
        all: [],
        complied: [],
        failed: []
    } -%}
    {%- set absentAppointments = {
        complied: [],
        failed: []
    } -%}
    {%- set awaitingOutcome = [] -%}
    {% for attendance in attendances %}
        {% if attendance.attended | string === "true" %}
            {{ attendedAppointments.all.push(attendance) }}
            {% if attendance.complied | string === "true" %}
                {{ attendedAppointments.complied.push(attendance) }}
            {% else %}
                {{ attendedAppointments.failed.push(attendance) }}
            {% endif %}
        {% elif attendance.complied | string === "true" %}
            {{ absentAppointments.complied.push(attendance) }}
        {% elif not attendance.outcome or attendance.outcome | lower === "iaps deleted record" %}
            {{ awaitingOutcome.push(attendance) }}
        {% else %}
            {{ absentAppointments.failed.push(attendance) }}
        {% endif %}
    {% endfor %}

    {# Create simplified appointments for sorting and display #}
    {%- set attendedComplied = [] -%}
    {%- set absentComplied = [] -%}
    {%- set attendedFailed = [] -%}
    {%- set absentFailed = [] -%}
    {% for description, complied in attendedAppointments.complied | groupby(params.getPath("contactType.description")) %}
        {{ attendedComplied.push({
            count: complied.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, complied in absentAppointments.complied | groupby(params.getPath("outcome")) %}
        {{ absentComplied.push({
            count: complied.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, failed in attendedAppointments.failed | groupby(params.getPath("contactType.description")) %}
        {{ attendedFailed.push({
            count: failed.length,
            description: description
        }) }}
    {% endfor %}
    {% for description, failed in absentAppointments.failed | groupby(params.getPath("contactType.description")) %}
        {{ absentFailed.push({
            count: failed.length,
            description: description
        }) }}
    {% endfor %}
{% endif %}

{% block backlink %}
    {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
    {{ govukBackLink({
        text: "Back to probation record",
        href: '/' + params.courtCode + '/case/' + data.caseNo + '/record'
    }) }}
{% endblock %}

{% block caseContent %}

    <h2 class="govuk-heading-l govuk-!-margin-0">{{ communityData.sentence.description + (' (' + communityData.sentence.length + ' ' + communityData.sentence.lengthUnits + ')' if communityData.sentence.length)}}</h2>

    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                {{ communityData.offences[0].description }}
            </p>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-start-title">{{ "Post-release status" if custodialOrder else "Order started" }}</p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-start-date">
                        {%- if custodialOrder -%}
                            {{ "On licence" if custodialOrder.custodialType.code === "B" else "On post-sentence supervision (PSS)" }}
                        {% else %}
                            {{ moment(communityData.sentence.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-end-title">
                        {% if custodialOrder %}
                            {{ "Licence started" if isOnLicence else "PSS started" }}
                        {% else %}
                            {{ "Order ends" if currentOrder.active else "Order ended" }}
                        {% endif %}
                    </p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-end-date">
                        {% if custodialOrder %}
                            {{ moment(communityData.custodyDetails.releaseDate, 'YYYY-MM-DD').format(displayDateFormat) if isOnLicence else moment(communityData.custodyDetails.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% else %}
                            {{ moment(communityData.sentence.endDate, 'YYYY-MM-DD').format(displayDateFormat) if communityData.active else moment(communityData.sentence.terminationDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% endif %}
                    </p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-hint govuk-!-margin-bottom-0 qa-elapsed-title">
                        {% if custodialType === "In Custody"%}
                            {{ "Status" }}
                        {% elseif custodialOrder.custodialType.code %}
                            {{ "Licence ends" if isOnLicence else "PSS ends" }}
                        {% else %}
                            {{ "Time elapsed" if communityData.active else "Reason" }}
                        {% endif %}
                    </p>
                    <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-0 qa-elapsed-time">
                        {% if custodialType === "In Custody"%}
                        {{ "In custody" }}
                        {% elseif custodialOrder %}
                            {{ moment(custodialOrder.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) if isOnLicence else moment(custodialOrder.pssEndDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        {% else %}
                            {{ elapsedTime if communityData.active else communityData.sentence.terminationReason }}
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if communityData.custodyDetails %}
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Post release dates</h2>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">&nbsp;</th>
                        <th scope="col" class="govuk-table__header">Start</th>
                        <th scope="col" class="govuk-table__header">End</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% if communityData.custodyDetails.homeDetentionCurfewActualDate and communityData.custodyDetails.homeDetentionCurfewEndDate %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-table__header">Home detention curfew</td>
                        <td class="govuk-table__cell">{{ moment(communityData.custodyDetails.homeDetentionCurfewActualDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                        <td class="govuk-table__cell">{{ moment(communityData.custodyDetails.homeDetentionCurfewEndDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                    </tr>
                    {%  endif %}
                    {% if communityData.custodyDetails.releaseDate and communityData.custodyDetails.licenceExpiryDate %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell govuk-table__header">License</td>
                        <td class="govuk-table__cell">{{ moment(communityData.custodyDetails.releaseDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                        <td class="govuk-table__cell">{{ moment(communityData.custodyDetails.licenceExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                    </tr>
                    {% endif %}
                    {% if communityData.custodyDetails.topupSupervisionStartDate and communityData.custodyDetails.topupSupervisionExpiryDate %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell govuk-table__header">Post sentence supervision</td>
                            <td class="govuk-table__cell">{{ moment(communityData.custodyDetails.topupSupervisionStartDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                            <td class="govuk-table__cell">{{ moment(communityData.custodyDetails.topupSupervisionExpiryDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}

                {% if communityData.licenceConditions | length %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Licence conditions</h2>
                    <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                        {%- for licenceConditions in communityData.licenceConditions %}
                            <li>
                                {{ licenceConditions.description }}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="/{{ params.courtCode }}/case/{{ data.caseNo }}/record/{{ communityData.convictionId }}/licence-details" class=" govuk-body-m govuk-link govuk-link--no-visited-state">View licence conditions details</a>
                {% endif %}

                {% if communityData.pssRequirements | length %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Post-sentence supervision requirements</h2>
                    <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                        {%- for pssRequirement in communityData.pssRequirements %}
                            <li>
                                {{ pssRequirement.description  + (' - ' + pssRequirement.subTypeDescription if pssRequirement.subTypeDescription | length) }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% if communityData.requirements | length %}
                <h2 class="govuk-heading-m govuk-!-margin-top-8">Requirements</h2>

                {%- from "govuk/components/table/macro.njk" import govukTable -%}
                {% if communityData.active %}
                    {{ govukTable(activeRequirementTableData) }}
                {% else %}
                    {{ govukTable(inactiveRequirementTableData) }}
                {% endif %}
            {% endif %}

        </div>
    </div>

    {% if communityData.breaches | length %}
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Breaches</h2>
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Breach</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Status date</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body qa-breaches">
                    {% for breach in communityData.breaches %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell"><a
                                        href="{{ communityData.convictionId }}/breach/{{ breach.breachId }}"
                                        class="qa-breach-link-{{ loop.index }} govuk-link govuk-link--no-visited-state">{{ breach.description }}</a>
                            </td>
                            <td class="govuk-table__cell">{{ breach.status }}</td>
                            <td class="govuk-table__cell">{{ moment(breach.statusDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if communityData.active %}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Attendance</h2>

        {% if attendedAppointments.all | length %}
            {% set lastAttendance = attendedAppointments.all | sort(true, false, 'attendanceDate') | first %}
            <p class="govuk-body"><span
                        class="govuk-!-font-weight-bold">Last attended:</span> {{ moment(lastAttendance.attendanceDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                - {{ lastAttendance.contactType.description }}
                ({{ "Acceptable" if lastAttendance.complied else "Unacceptable" }})</p>
        {% endif %}

        <div class="govuk-!-padding-top-2">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                                class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Appointments to date</span></h3>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-heading-m govuk-!-margin-bottom-0"><span
                                class="pac-dashboard-count">{{ attendances | length }}</span></p>
                </div>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible app-section-break--heavy govuk-!-width-two-thirds">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-0"><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Acceptable</span></h3>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ attendedAppointments.complied | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Attendances</span>
                </p>
                {% for complied in attendedComplied | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ complied.count }}</span>{{ complied.description }}
                    </p>
                {% endfor %}
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ absentAppointments.complied | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences </span></p>
                {% for complied in absentComplied | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ complied.count }}</span>{{ complied.description }}
                    </p>
                {% endfor %}
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-two-thirds">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Unacceptable</span></h3>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ attendedAppointments.failed | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">Attendances</span>
                </p>
                {% for failed in attendedFailed | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ failed.count }}</span>{{ failed.description }}
                    </p>
                {% endfor %}
                <p class="govuk-heading-m govuk-!-margin-bottom-1"><span
                            class="pac-dashboard-count">{{ absentAppointments.failed | length }}</span><span
                            class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                Absences </span></p>
                {% for failed in absentFailed | sort(true, false, 'count') %}
                    <p class="govuk-body govuk-!-margin-0"><span
                                class="govuk-body pac-dashboard-count">{{ failed.count }}</span>{{ failed.description }}
                    </p>
                {% endfor %}
            </div>
        </div>
        {% if awaitingOutcome.length > 0 %}
            {% if awaitingOutcome.length | sort(false, false, 'IAPS deleted record') %}
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-width-two-thirds">

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third pac-!-grid-column-18">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><span
                                    class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-display-inline-block">
                    Awaiting outcome</span></h3>
                    </div>
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-heading-m govuk-!-margin-bottom-1 pac-dashboard-count">{{ awaitingOutcome | length }}
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        {%- set unpaidWork = communityData.sentenceDetails.unpaidWork -%}
        {% if unpaidWork %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m govuk-!-margin-top-8">Unpaid work</h2>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Status</dt>
                            <dd class="govuk-summary-list__value qa-upw-status">{{ unpaidWork.status }} {{ '- ' + moment(unpaidWork.statusDate, 'YYYY-MM-DD').format(displayDateFormat) if unpaidWork.statusDate }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hours ordered</dt>
                            <dd class="govuk-summary-list__value qa-upw-ordered">{{ unpaidWork.minutesOffered / 60 or '0' }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Hours worked</dt>
                            <dd class="govuk-summary-list__value qa-upw-worked">{{ unpaidWork.minutesCompleted / 60 or '0' }}</dd>
                        </div>
                    </dl>

                    {% if unpaidWork.appointmentsToDate %}
                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">View UPW attendance</span>
                            </summary>
                            <div class="govuk-details__text">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Appointments to date</dt>
                                        <dd class="govuk-summary-list__value qa-upw-appointments">{{ unpaidWork.appointmentsToDate or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Attended</dt>
                                        <dd class="govuk-summary-list__value qa-upw-attended">{{ unpaidWork.attended or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Acceptable absences</dt>
                                        <dd class="govuk-summary-list__value qa-upw-acceptable">{{ unpaidWork.acceptableAbsences or '0' }}</dd>
                                    </div>
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Failures to comply</dt>
                                        <dd class="govuk-summary-list__value qa-upw-unacceptable">{{ unpaidWork.unacceptableAbsences or '0' }}</dd>
                                    </div>
                                </dl>
                            </div>
                        </details>

                    {% endif %}

                </div>
            </div>
        {% endif %}

    {% endif %}

    {% if communityData.sentenceDetails.links.deliusContactList %}
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Contact list</h2>
        <p class="govuk-body"><a href="{{ communityData.sentenceDetails.links.deliusContactList }}" target="_blank" class="govuk-link govuk-link--no-visited-state">View contact list (opens in NDelius)</a></p>
    {% endif %}

{% endblock %}
