{% extends "partials/case-details.njk" %}

{%- set riskData = data.riskData -%}
{%  set forbidden = riskData.status === 403 %}
{%- set activeRisks = [] -%}
{%- set inactiveRisks = [] -%}
{%- for risk in riskData  if riskData %}
    {% if risk.active %}
        {{ activeRisks.push(risk) }}
    {% endif %}
    {% if risk.active == false %}
        {{ inactiveRisks.push(risk) }}
    {% endif %}
{% endfor -%}

{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ "You are restricted from viewing this record" if forbidden else "Risk register" }}</h1>

            {% if forbidden %}
                <p class="govuk-body">{{ riskData.userMessage }}</p>
                <p class="govuk-body">If you think you should be able to view this case, contact your line manager.</p>
            {% endif %}

            {% if not forbidden %}
            <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab pac-active" href="#active">
                            Active ({{ activeRisks | length }})
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab pac-inactive" href="#inactive">
                            Inactive ({{ inactiveRisks | length }})
                        </a>
                    </li>
                </ul>
                <div class="govuk-tabs__panel" id="active">
                    <h2 class="govuk-heading-m">Active registrations</h2>
                    {% if not activeRisks | length %}
                        <div class="govuk-body">There are no active registrations.</div>
                    {% else %}
                        <table class="govuk-table" aria-label="Active registrations">
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Type</th>
                                <th scope="col" class="govuk-table__header">Registered</th>
                                <th scope="col" class="govuk-table__header">Next review</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Notes</th>
                            </tr>
                            </thead>
                            {%- for risk in activeRisks %}
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <th scope="row" class="govuk-table__cell govuk-!-font-weight-bold">{{ risk.type }}</th>
                                    <td class="govuk-table__cell">{{ moment(risk.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                                    <td class="govuk-table__cell">{{ moment(risk.nextReviewDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                                    <td class="govuk-table__cell">{{ (risk.notes if risk.notes | length) or '-' }}</td>
                                </tr>
                                </tbody>
                            {% endfor -%}
                        </table>
                    {% endif %}
                </div>
                <div class="govuk-tabs__panel" id="inactive">
                    <h2 class="govuk-heading-m">Inactive registrations</h2>
                    {% if not inactiveRisks | length %}
                        <div class="govuk-body">There are no inactive registrations.</div>
                    {% else %}
                        <table class="govuk-table" aria-label="Inactive registrations>
                            <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Type</th>
                                <th scope="col" class="govuk-table__header">Registered</th>
                                <th scope="col" class="govuk-table__header">End date</th>
                                <th scope="col" class="govuk-table__header govuk-!-width-one-half">Notes</th>
                            </tr>
                            </thead>
                            {%- for risk in inactiveRisks %}
                                <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-!-font-weight-bold">{{ risk.type }}</td>
                                    <td class="govuk-table__cell">{{ moment(risk.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                                    <td class="govuk-table__cell">{{ moment(risk.endDate, 'YYYY-MM-DD').format(displayDateFormat) }}</td>
                                    <td class="govuk-table__cell">{{ (risk.notes if risk.notes | length) or '-' }}</td>
                                </tr>
                                </tbody>
                            {% endfor -%}
                        </table>
                    {% endif %}
                </div>
            </div>
            {% endif %}


        </div>
    </div>

{% endblock %}
