{% from "govuk/components/select/macro.njk" import govukSelect %}
<div id="add-hearing-outcome-modal" class="modal outcome" tabindex="-1" aria-labelledby="addHearingOutcomeType" aria-describedby="add-hearing-outcome-modal-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title govuk-heading-m" id="add-hearing-outcome-modal-label">Choose an outcome and send this case to admin</p>
                <button type="button" class="btn-close govuk-!-font-size-16" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>

            <form method="post" action="summary/add-hearing-outcome">
                <input type="hidden" name="targetHearingId" value=""/>
                <div class="modal-body">
                        {{ govukSelect({
                            id: 'addHearingOutcomeType',
                            name: 'hearingOutcomeType',
                            errorMessage: {
                                text: 'Choose an outcome type for this hearing before sending to admin'
                            },
                            items: outcomeTypes
                        }) }}

                    <button type="submit" id="send-outcome-to-admin"
                            class="govuk-button"
                            data-module="govuk-button">Send to admin
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>