{%- from "components/modal/macro.njk" import modal -%}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-grid-row" id="caseProgressComponent">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m" id="caseHearingsHeading">Case progress</h3>
        {% if features.hearingOutcomesEnabled %}
            {% set outcomeFormContent %}
                <input type="hidden" name="targetHearingId" value=""/>
                <input type="hidden" name="targetDefendantId" value=""/>
                {{ govukSelect({
                    id: 'addHearingOutcomeType',
                    name: 'hearingOutcomeType',
                    errorMessage: {
                        text: 'Choose an outcome type for this hearing before sending to admin'
                    },
                    items: outcomeTypes,
                    attributes: {
                        'aria-labelledby': 'add-hearing-outcome-modal-label'
                    }
                }) }}
            {%  endset %}
            {{ modal({
                id: "add-hearing-outcome-modal",
                classList: ["outcome"],
                heading: "Choose an outcome and send this case to admin",
                form: {
                    method: "post",
                    action: 'summary/add-hearing-outcome',
                    content: outcomeFormContent,
                    buttons: {
                        submit: { id: "send-outcome-to-admin", text: "Send to admin" }
                    }
                }
            })}}
            
            {% set editHeading %}
                {{ govukWarningText({
                    html: '<span class="govuk-heading-m govuk-!-margin-bottom-0">This case is already being resulted</span>',
                    iconFallbackText: 'Warning',
                    classes: 'govuk-!-margin-bottom-0 govuk-heading-m'
                }) }}
            {% endset %}
            {% set editOutcomeFormContent %}
                <input type="hidden" name="targetHearingId" value=""/>
                <input type="hidden" name="targetDefendantId" value=""/>
                <p class="govuk-body-m" id="edit-hearing-outcome-modal-label">
                    This case is in progress on the outcomes page, which means an admin might already be resulting it based on the original outcome type you selected
                </p>
                {{ govukSelect({
                    id: 'editHearingOutcomeType',
                    name: 'hearingOutcomeType',
                    label: {
                        text: 'You can choose an outcome and resend this case to admin',
                        classes: 'govuk-label--s govuk-!-margin-bottom-3'
                    },
                    errorMessage: {
                        text: 'Choose an outcome type for this hearing before sending to admin'
                    },
                    items: outcomeTypes
                }) }}
                <p class="govuk-heading-s">
                    Now you should:
                </p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-1">
                    <li>find out which admin is resulting this case by filtering the in progress tab on the outcomes page</li>
                    <li>contact them to tell them the outcome type has changed.</li>
                </ul>
            {%  endset %}
            {{ modal({
                id: "edit-hearing-outcome-modal",
                size: "modal-lg",
                classList: ["outcome"],
                heading: editHeading,
                form: {
                    method: "post",
                    action: 'summary/edit-hearing-outcome',
                    content: editOutcomeFormContent,
                    buttons: {
                        submit: { id: "update-outcome", text: "Update outcome" }
                    }
                }
            })}}
        {% endif %}
        {% if data.hearings | length %}
            {% if session.showPreviousHearings === data.caseId %}
                {% set limitPreviousHearings = data.hearings | length %}
            {% else %}
                {% set limitPreviousHearings = 6 %}
            {% endif %}
            <div id="hearing-progress-wrapper">
            {% for hearing in data.hearings | limit(limitPreviousHearings) %}
                <div class="app-summary-card govuk-!-margin-bottom-5"
                     id="case-progress-hearing-{{ hearing.hearingId }}">
                    {% if features.hearingOutcomesEnabled and hearing.hearingOutcome and hearing.hearingOutcome.hearingOutcomeType and hearing.hearingOutcome.hearingOutcomeType != 'NO_OUTCOME' %}
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <div class="govuk-grid-column-full govuk-notification-banner--success govuk-notification-banner__header govuk-!-padding-left-3 govuk-!-padding-top-2 govuk-!-padding-bottom-2 app-summary-card__banner">
                                    <div>
                                        <span class="govuk-notification-banner__title govuk-body govuk-!-font-size-16">{{ hearing.hearingOutcome.hearingOutcomeDescription }}</span>
                                        <span class="govuk-notification-banner__title govuk-body govuk-!-font-size-16 hearing-outcome-display-date govuk-!-padding-left-2">Sent to admin on {{ hearing.hearingOutcome.outcomeDate | hearingNoteTimeFormat }}</span>
                                    </div>
                                    {% if hearing.hearingOutcome.state !== 'RESULTED' and hearing.hearingOutcome.state !== '' %}
                                        <a href="#" class="govuk-body govuk-notification-banner__title govuk-!-font-size-16 hearing-outcome-edit govuk-!-padding-left-2" data-bs-toggle="modal" data-bs-target="#{{ "add" if hearing.hearingOutcome.state === 'NEW' else "edit" }}-hearing-outcome-modal" data-hearingid="{{ hearing.hearingId }}" data-defendantid="{{ data.defendantId }}">Edit</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <header class="app-summary-card__header">
                        <div class="app-summary-card__title">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <span class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-display-inline">{{ hearing.hearingTypeLabel }}</span>
                                    {% if hearing.hearingId === data.nextAppearanceHearingId %}
                                        <span class="moj-badge moj-badge--blue pac-badge govuk-!-display-inline govuk-!-margin-left-3">NEXT APPEARANCE</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% set showAddHearingOutcomeButton = features.hearingOutcomesEnabled and hearing.notes and hearing.notes | length and (not hearing.hearingOutcome.hearingOutcomeType or hearing.hearingOutcome.hearingOutcomeType === 'NO_OUTCOME') %}

                            <div class="govuk-grid-row">
                                <div class="{{ "govuk-grid-column-two-thirds" if showAddHearingOutcomeButton else "govuk-grid-column-full" }}">
                                    <div class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                                        {{ hearing.hearingDateTime | hearingNoteTimeFormat }}, {{ 'Court ' if data.source === 'LIBRA' }} {{ hearing.courtRoom }}, {{ hearing.session | lower }} session, {{ hearing.court }}
                                    </div>
                                </div>
                                {% if showAddHearingOutcomeButton %}
                                    <div class="govuk-grid-column-one-third">
                                        <button class="govuk-button btn-send-hearing-outcome govuk-!-margin-bottom-0"
                                                data-hearingid="{{ hearing.hearingId }}" data-defendantId="{{ data.defendantId }}" data-module="govuk-button" data-bs-toggle="modal" data-bs-target="#add-hearing-outcome-modal">Send outcome to admin
                                        </button>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </header>

                    {%- from "components/hearing-notes/macro.njk" import pacHearingNotes -%}
                    {{ pacHearingNotes({
                        data: data,
                        hearing: hearing,
                        currentUserUuid: currentUserUuid,
                        enableHearingNotes: features.hearingNotes
                    }) }}
                </div>
            {% endfor %}
            </div>
            <form name="previousCommentsForm" id="caseHearingsForm" method="post" action="summary/hearings/{{ "hideOlderHearings" if session.showPreviousHearings === data.caseId else "showPreviousHearings"}}">

                <input type="hidden" name="caseId" value="{{ data.caseId }}"/>
                {% if data.hearings | length > limitPreviousHearings %}
                    <button type="submit" id="showPreviousHearings" class="govuk-button action-button govuk-button--secondary">Show all previous hearings
                    </button>
                {% endif %}
                {% if session.showPreviousHearings === data.caseId %}
                    <button type="submit" id="showHideOlderHearings" class="govuk-button action-button govuk-button--secondary">Hide older hearings
                    </button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>