<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" id="caseComments">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m">Comments</h3>
        {% if session.deleteCommentSuccess === data.caseId %}
            {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
            {% set html %}
                <span class="govuk-body-l">
                        You successfully deleted a comment
                    </span>
            {% endset %}
            {{ govukNotificationBanner({
                html: html,
                type: 'success',
                classes: 'case-comments-delete-success-notification'
            }) }}
        {% endif %}
        <div class="govuk-form-group govuk-!-margin-bottom-7">
            <div id="comments-hint">
                <p id="comments-hint-p1" class="govuk-body">
                    Add notes and observations about this case. Your colleagues who use Prepare a Case will be able to
                    read them.
                </p>
                <p id="comments-hint-p2" class="govuk-body govuk-!-margin-bottom-5">
                    These comments will not be saved to NDelius.
                </p>
            </div>
            {% set draftComment = '' %}
            {% set draftCommentOffset = 0 %}
            {% for comment in data.caseComments %}
                {% if comment.draft and comment.createdByUuid === currentUserUuid %}
                    {% set draftComment = comment.comment %}
                    {% set draftCommentOffset = 1 %}
                {% endif %}
            {% endfor %}
            <form method="post" id="case-comment-form" action="summary/comments">
                <textarea class="govuk-textarea case-notes" data-caseid="{{ data.caseId }}"
                          id="case-comment" name="comment" rows="5" aria-labelledby="comments-hint">{{ draftComment }}</textarea>
                <div class="govuk-button-group">
                    <button type="submit" id="save-comments" class="govuk-button action-button case-comments-save-button"
                            data-module="govuk-button">Save<span class="govuk-visually-hidden"> comment</span>
                    </button>
                    <a class="govuk-link comment-draft-cancel-link"
                       href="summary/comments/{{ data.caseId }}/cancel-draft-comment">Cancel<span class="govuk-visually-hidden"> saving comment</span></a>
                </div>
                <input type="hidden" name="caseId" value="{{ data.caseId }}"/>
            </form>
        </div>

        {% if data.caseComments | length - draftCommentOffset %}

            <h2 class="govuk-heading-s govuk-!-padding-top-0 govuk-!-margin-bottom-2">Comments</h2>
            <table class="govuk-table" id="previousComments">
                <tbody class="govuk-table__body">
                {% if session.showPreviousComments === data.caseId %}
                    {% set limitPreviousComments = data.caseComments | length - draftCommentOffset %}
                {% else %}
                    {% set limitPreviousComments = 6 %}
                {% endif %}
                {% for comment in data.caseComments | limit(limitPreviousComments) %}
                    {% if not comment.draft %}
                    <tr class="govuk-table__row" id="case-comment-row-{{ comment.commentId }}">
                        <td class="govuk-table__cell">
                            <div class="case-comment-display-container" id="case-comment-display-{{ comment.commentId }}">
                                <div class="govuk-grid-row">
                                    {% if comment.legacy %}
                                        <div class="govuk-warning-text case-comment-warning-container">
                                            <div class="case-comment-warning-icon">
                                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                            </div>
                                            <strong class="govuk-warning-text__text">
                                                <span class="govuk-visually-hidden">Warning</span>
                                                This comment was added to a case with more than one defendant. Delete the comment if it is not relevant to this defendant.
                                            </strong>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="govuk-grid-row">
                                    <div id="case-comments-comment-display-{{ comment.commentId }}" class="govuk-grid-column-full govuk-!-padding-bottom-3 case-comments-comment-display">{{ comment.comment }}</div>
                                </div>
                                <div class="govuk-grid-row">
                                    <div class="govuk-grid-row govuk-!-margin-top-2 govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-3">
                                        <span class="govuk-!-margin-left-6">{{ comment.author }} on {{ comment.created | caseCommentTimeFormat }}</span>
                                        {% if comment.createdByUuid === currentUserUuid %}
                                            <a href="#" data-commentid="{{ comment.commentId }}"
                                               class="govuk-link govuk-!-margin-left-5 case-comment-edit">Edit</a>
                                            <a href="summary/comments/{{ comment.commentId }}/delete"
                                               class="govuk-link govuk-!-margin-left-5 case-comment-delete">Delete
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-table__cell govuk-!-display-none case-comment-edit-container" id="case-comment-edit-{{ comment.commentId }}">
                                <form method="post" action="summary/comments/publish-edited-comment">
                                <textarea class="govuk-textarea case-notes" id="case-comment-edit-textarea-{{ comment.commentId }}"
                                          name="comment" rows="5" aria-labelledby="comments-hint"></textarea>
                                    <input type="hidden" name="caseId" value="{{ data.caseId }}"/>
                                    <input type="hidden" name="commentId" value="{{ comment.commentId }}"/>
                                    <div class="govuk-button-group">
                                        <button type="submit" class="govuk-button action-button case-comments-save-button"
                                                data-module="govuk-button">Save
                                        </button>
                                        <a href="#" data-commentid="{{ comment.commentId }}" class="govuk-link case-comment-edit-cancel">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <form name="previousCommentsForm" method="post"
                  action="summary/comments/{{ "hideOlderComments" if session.showPreviousComments === data.caseId else "showPreviousComments" }}">
                <input type="hidden" name="caseId" value="{{ data.caseId }}"/>
                {% if data.caseComments | length - draftCommentOffset > limitPreviousComments %}
                    <button type="submit" class="govuk-button action-button govuk-button--secondary">Show all previous comments
                    </button>
                {% endif %}
                {% if session.showPreviousComments === data.caseId %}
                    <button type="submit" class="govuk-button action-button govuk-button--secondary">Hide older comments
                    </button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>