{% extends "partials/layout.njk" %}

{% set title = "Error" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ message }}</h1>
  <h2 class="govuk-heading-m">{{ error.status }}</h2>
  <pre>{{ error.stack }}</pre>
{% endblock %}
