{% extends "partials/layout.njk" %}

{% block navigation %}{% endblock %}
{% block cookieBanner %}{% endblock %}

{% if status === 401  %}
  {% set title = "Authorisation Error" %}
{% elseif status === 404 %}
  {% set title = "Page not found" %}
{% else %}
  {% set title = "Error" %}
{% endif %}

{% block content %}
  {% if status === 401  %}
    <h1 class="govuk-heading-l">Authorisation Error</h1>
    <p class="govuk-body">You are not authorised to use this application.</p>
  {% endif %}

  {% if status === 404  %}
    <h1 class="govuk-heading-l">Page not found</h1>
    <p class="govuk-body">If you entered a web address, check it is correct.</p>
    <p class="govuk-body">You can <a class="govuk-link" href="/">go to the homepage</a> to find the information you need.</p>
  {% endif %}

  {% if status === 500  %}
    <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
    <p class="govuk-body">Try refreshing the page or going back and trying again.</p>
    <p class="govuk-body"><a class="govuk-link" href="https://forms.gle/fNMLacYp8RpvKTG17" target="_blank">Use this form</a> to tell us about the problem.</p>
  {% endif %}

  {% if status === 503  %}
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">You'll be able to use the service on {{ maintenanceDate }}.</p>
  {% endif %}

  {% if message and message | length %}
    <p class="govuk-body">{{ message }}</p>
  {% endif %}

  {% if stack and stack | length %}
    <p class="govuk-body">{{ stack }}</p>
  {% endif %}

{% endblock %}
