{% extends "partials/layout.njk" %}

{% set tableData = {
    head: [
        { text: "Defendant" },
        { text: "NDelius records found" },
        { text: "Action" }
    ],
    rows: []
} %}

{% for item in data %}
{#    below check is unnecessary as the endpoint now only returns cases with possible NDelius records #}
{#    {% if (item.probationStatus | string | lower == "possible ndelius record") and (item.numberOfPossibleMatches | int > 0) %}#}
        {% set defendantFullName = (item.name.forename1 + ' ' + item.name.surname) if (item.name.forename1 and item.name.surname) else item.defendantName %}
        {%- set tableRow = [
            { text: defendantFullName | escape | apostropheInName | properCase | removeTitle },
            { text: item.numberOfPossibleMatches | escape },
            { text: ('<a href="/' + params.courtCode + '/case/' + item.caseId + '/hearing/' + (item.hearingId | escape) + '/match/defendant/' + (item.defendantId | escape) +'" class="pac-defendant-link govuk-link govuk-link--no-visited-state">Review records</a>') | safe }
        ] -%}
        {{ tableData.rows.push(tableRow) }}
{#    {% endif %}#}
{% endfor %}

{% block backlink %}

    {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
    {{ govukBackLink({
        text: "Back to cases",
        href: '/' + params.courtCode + '/cases/' + params.date
    }) }}

{% endblock %}

{% block content %}

    {%- from "components/match-confirmation/macro.njk" import pacMatchConfirmation -%}
    {{ pacMatchConfirmation({
        matchName: session.confirmedMatch.name,
        matchType: session.confirmedMatch.matchType
    }) }}
    <h1 class="govuk-heading-l">Defendants with possible NDelius records</h1>

    {% if tableData.rows | length %}
        <p class="govuk-heading-m">{{ tableData.rows | length }} {{ 'defendant' if tableData.rows | length === 1 else 'defendants' }} partially {{ 'matches' if tableData.rows | length === 1 else 'match' }} with existing records.</p>
        <p class="govuk-body">Review and confirm the correct record for each defendant.</p>
    {% else %}
        <p class="govuk-heading-m">There are no defendants left to review.</p>
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if tableData.rows | length %}
                {%- from "govuk/components/table/macro.njk" import govukTable -%}
                {{ govukTable(tableData) }}
            {% endif %}

        </div>
        <div class="govuk-grid-column-one-third">&nbsp;</div>
    </div>

{% endblock %}
