{% extends "partials/case-details.njk" %}

{% block caseContent %}
<h1 class="govuk-heading-l">{{ title }}</h1>

<p class="govuk-body">Unlink an nDelius record if the defendant is unknown to probation or has been linked to the wrong record.</p>
<p class="govuk-body">Once unlinked you can link a different nDelius record to the defendant using a case reference number.</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-m govuk-!-margin-top-4">Linked nDelius record</h2>

        <form method="get" action="/match/defendant/{{ params.caseNo }}/nomatch" novalidate>
            <table class="govuk-table govuk-!-margin-bottom-8">
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">Name</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">{{ details.forename }} {{ details.surname }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">{{ params.moment(details.dateOfBirth, 'YYYY-MM-DD').format('D MMMM YYYY') if details.dateOfBirth }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">CRN</th>
                    <td class="govuk-table__cell">{{ details.otherIds.crn }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">PNC</th>
                    <td class="govuk-table__cell">{{ details.otherIds.pncNumber }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Probation status</th>
                    <td class="govuk-table__cell">{{ details.probationStatus }}</td>
                </tr>
                </tbody>
            </table>

            <button class="govuk-button">Unlink record from defendant</button>
            <p class="govuk-body"><a href="{{ backLink }}" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>
        </form>

    </div>
    <div class="govuk-grid-column-one-third">&nbsp;</div>
</div>
{% endblock %}
