{% extends "partials/layout.njk" %}

{% if session.matchType === 'bulk' %}
  {%- set backUrl = '/' + session.courtCode + '/match/' + session.matchType + '/' + session.matchDate -%}
{% else %}
  {%- set backUrl = '/' + params.courtCode + '/hearing/' + data.hearingId + '/defendant/' + data.defendantId + '/summary' -%}
{% endif %}

{% block backlink %}
  {%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
  {{ govukBackLink({
    text: "Back",
    href: backUrl
  }) }}
{% endblock %}

{% block content %}

  {% if session.serverError %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">
        {%- from "moj/components/banner/macro.njk" import mojBanner -%}
        {{ mojBanner({
          type: 'warning',
          text: 'Something went wrong - try again.',
          iconFallbackText: 'Warning'
        }) }}
      </div>
    </div>
  {% endif %}

  {% if session.formError %}
    {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Select an NDelius record",
          href: "#defendant-1"
        }
      ]
    }) }}
  {% endif %}

  {% set defendantFullName = (data.name.forename1 +
    (' ' + data.name.forename2 if data.name.forename2) +
    (' ' + data.name.forename3 if data.name.forename3) +
    ' ' + data.name.surname) if data.name else data.defendantName %}

  <h1 class="govuk-caption-l govuk-!-margin-top-0">{{ defendantFullName | apostropheInName | properCase | removeTitle }}</h1>
  <h2 class="govuk-heading-l">Review possible NDelius records</h2>
  <p class="govuk-body">Compare details and confirm the correct record for the defendant.</p>

  {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
  {{ govukInsetText({
    text: "Details that match the defendant are highlighted."
  }) }}

  <form name="matchDefendant" id="matchDefendant" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half pac-!-grid-column-sticky-45 govuk-!-padding-right-9">

        <h3 class="govuk-heading-m">Defendant details</h3>

        <div class="pac-inset-sticky-block">
          <table class="govuk-table pac-table--no-borders govuk-!-margin-0">
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Name</th>
              <td class="govuk-table__cell">{{ defendantFullName | apostropheInName | properCase | removeTitle }}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Date of birth</th>
              <td class="govuk-table__cell">{{ params.moment(data.defendantDob, 'YYYY-MM-DD').format('D MMMM YYYY') if data.defendantDob }}</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Address</th>
              <td class="govuk-table__cell">
                {% set dataAddress = data.defendantAddress.line1 + ' '
                  + (data.defendantAddress.line2 + ", " if data.defendantAddress.line2)
                  + (data.defendantAddress.line3 + ", " if data.defendantAddress.line3)
                  + (data.defendantAddress.line4 + ", " if data.defendantAddress.line4)
                  + (data.defendantAddress.line5 + ", " if data.defendantAddress.line5)
                  + data.defendantAddress.postcode | upper %}
                {{ dataAddress }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">PNC</th>
              {% set dataPnc = data.pnc or 'Unavailable' %}
              <td class="govuk-table__cell">{{ dataPnc }}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="govuk-grid-column-one-half pac-!-grid-column-55 pac-!-border-left govuk-!-padding-left-9">

        <div class="govuk-form-group {{ "govuk-form-group--error" if session.formError }} govuk-!-margin-bottom-0">
          {% set recordPluralised = 'record' if data.matchData | length <= 1 else 'records' %}

          {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
          {% call govukFieldset({
            legend: {
              text: data.pagination.matchingRecordsCount + " possible NDelius " + recordPluralised,
              classes: "govuk-fieldset__legend--m govuk-!-margin-bottom-4",
              isPageHeading: false
            }
          }) %}

            {% if session.formError %}
              <span id="changed-name-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Select an NDelius record
                        </span>
            {% endif %}

            <div class="govuk-radios">

              {% for item in data.matchData %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="defendant-{{ loop.index }}" name="crn"
                         type="radio" value="{{ item.matchIdentifiers.crn }}">
                  <label class="govuk-label govuk-radios__label govuk-!-padding-top-0"
                         for="defendant-{{ loop.index }}">

                    <div class="pac-inset-block">
                      <table class="govuk-table pac-table--no-borders govuk-!-margin-0">
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header pac-width-40">Name</th>
                          <td class="govuk-table__cell">
                            {% set matchName = item.forename + ' ' + (item.middleNames | join(' ') + ' ' if item.middleNames) + item.surname %}
                            {{ matchName | apostropheInName | properCase | removeTitle | markMatches(defendantFullName) | safe }}
                          </td>
                        </tr>
                        {% set aliases = item.matchIdentifiers.aliases %}

                        {% if aliases %}
                          {% set aliasesLength = aliases | length if aliases else 0 %}

                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header pac-width-40">Alias{{ 'es' if aliasesLength > 1 }}</th>
                            <td class="govuk-table__cell">
                              {% set aliasDisplayLimit = 3 if aliasesLength > 2 else aliasesLength %}
                              {% for i in range(0, aliasDisplayLimit) -%}
                                {% set aliasName = aliases[i].firstName + ' ' + (aliases[i].middleNames | join(' ') + ' ' if aliases[i].middleNames) + aliases[i].surname -%}
                                {% set markedAlias = aliasName | apostropheInName | properCase | removeTitle | markMatches(defendantFullName) | safe | emptyIfUnmarked -%}
                                {{ ", " if (not loop.first and markedAlias)}} {{ markedAlias }}
                              {%- endfor %}
                              {{ [' +', aliasesLength - 3, ' other name', ('s' if aliasesLength > 4), ' matched' ] | join('') if aliasesLength > 3  }}
                            </td>
                          </tr>
                        {% endif %}
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Date of birth</th>
                          <td class="govuk-table__cell">
                            {{ params.moment(item.dateOfBirth, 'YYYY-MM-DD').format('D MMMM YYYY') | markMatches(params.moment(data.defendantDob, 'YYYY-MM-DD').format('D MMMM YYYY')) | safe if item.dateOfBirth }}
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Address</th>
                          <td class="govuk-table__cell"><span class="highlight">
                                                    {% set itemAddress = (item.address.addressNumber + ' ' if item.address.addressNumber)
                                                      + (item.address.buildingName + ", " if item.address.buildingName)
                                                      + (item.address.town + ", " if item.address.town)
                                                      + (item.address.county + ", " if item.address.county)
                                                      + item.address.postcode | upper %}
                              {{ itemAddress | markMatches(dataAddress) | safe }}</span>
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">PNC</th>
                          <td class="govuk-table__cell">
                            {% if item.matchIdentifiers.pnc %}
                              {{ item.matchIdentifiers.pnc | markMatches(dataPnc) | safe }}
                            {% else %}
                              Unavailable
                            {% endif %}
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">CRN</th>
                          <td class="govuk-table__cell">{{ item.matchIdentifiers.crn }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Probation status</th>
                          <td class="govuk-table__cell">{{ item.probationStatus | string | capitalize }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Most recent event</th>
                          <td class="govuk-table__cell">{{ params.moment(item.mostRecentEvent.startDate, 'YYYY-MM-DD').format('D MMMM YYYY') if item.mostRecentEvent.startDate }}{{ " - " + item.mostRecentEvent.text if item.mostRecentEvent.text }} {{ "(" + item.mostRecentEvent.length + " " + item.mostRecentEvent.lengthUnits + ")" if item.mostRecentEvent.length }}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>

                  </label>
                </div>
              <p class="govuk-body govuk-!-margin-bottom-9"></p>
              {% endfor %}

            </div>

          {% endcall %}

        </div>

      </div>
      {% if data.pagination.totalPages > 1 %}
        {% block paginationBlock %}
          {%- from "moj/components/pagination/macro.njk" import mojPagination -%}
          {{ mojPagination({
            results: {
              from: data.pagination.from + 1,
              to: data.pagination.to,
              count: data.pagination.matchingRecordsCount
            },
            previous: data.pagination.previousLink,
            next: data.pagination.nextLink,
            items: data.pagination.pageItems
          }) }}
        {% endblock %}
      {% endif %}
    </div>

    {% from "govuk/components/details/macro.njk" import govukDetails %}
    {%- set detailsText = "<p class=\"govuk-body\">If the defendant is unknown to probation, you must <a href=\"/" + params.courtCode + "/case/" + params.caseId + "/hearing/" + params.hearingId + "/match/defendant/" + params.defendantId + "/nomatch\" class=\"govuk-link govuk-link--no-visited-state\">confirm they have no record</a>.</p><p class=\"govuk-body\">If they have an NDelius record, you can <a href=\"/" + params.courtCode + "/case/" + params.caseId + "/hearing/" + params.hearingId + "/match/defendant/" + params.defendantId + "/manual\" class=\"govuk-link govuk-link--no-visited-state\">link it to them with a case reference number</a>.</p>" -%}
    {{ govukDetails({
      classes: "govuk-!-margin-top-6",
      summaryText: "Can't see the correct record?",
      text: detailsText | safe
    }) }}

    <button type="submit" class="govuk-button action-button">Confirm record</button>

    <p class="govuk-body"><a href="{{ backUrl }}" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>

{% endblock %}
