{%- set hideCourtLink = true -%}
{% extends "partials/layout.njk" %}

{% block navigation %}{% endblock %}

{%- set courtOptions = [] -%}
{%- for court in params.availableCourts -%}
  {{ courtOptions.push({
    value: court.code,
    text: court.name
  }) }}
{%- endfor -%}

{% block content %}
  <form method="post" name="selectCourt" novalidate>

    <h1 class="govuk-heading-l">Which courts do you work in?</h1>
    <p class="govuk-body">Add and save the courts you work in to view case lists for those courts.</p>

    {% if params.chosenCourts | length %}
      <table class="govuk-table pac-!-grid-column--max-700">
        <tbody class="govuk-table__body">
        {%- for court in params.availableCourts -%}
          {%- for chosen in params.chosenCourts -%}
            {% if chosen === court.code %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <span class="govuk-!-font-weight-bold">{{ court.name }}</span>
                </td>
                <td class="govuk-table__cell govuk-table__cell--numeric">
                  <a href="?remove={{ court.code }}" class="govuk-link govuk-link--no-visited-state">Remove</a>
                </td>
              </tr>
            {% endif %}
          {%- endfor -%}
        {%- endfor -%}
        </tbody>
      </table>

    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds pac-!-grid-column--max-700">

        {%- from "components/accessible-autocomplete/macro.njk" import pacAccessibleAutocomplete -%}
        {{ pacAccessibleAutocomplete({
          id: 'pac-select-court',
          name: 'court',
          label: 'Add court',
          hint: 'Type in the name of the court',
          instruction: 'Select a court',
          options: courtOptions
        }) }}

        <button type="submit" class="govuk-button govuk-button--secondary govuk-!-margin-top-4 govuk-!-margin-bottom-0">
          Add
        </button>

      </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"/>

    <p class="govuk-body"><a href="" class="govuk-button">Save and continue</a></p>

  </form>

  <script>
    accessibleAutocomplete.enhanceSelectElement({
      defaultValue: '',
      selectElement: document.querySelector('#pac-select-court')
    })
  </script>

{% endblock %}
