{%- set listTabs = [
  {
    title: 'Cases to result',
    a11yTitle: 'View cases to result',
    link: '/' + params.courtCode + '/outcomes/',
    current: params.subsection === undefined
  },
  {
    title: 'In progress',
    a11yTitle: 'View case outcomes in progress',
    link: '/' + params.courtCode + '/outcomes/in-progress',
    current: params.subsection === 'in-progress'
  },
  {
    title: 'Resulted cases',
    a11yTitle: 'View resulted cases',
    link: '/' + params.courtCode + '/outcomes/resulted-cases',
    current: params.subsection === 'resulted-cases'
  }
] -%}

{% extends "partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" aria-label="{{ title }}">{{ title }}</h1>

  {%- from "components/tabs/macro.njk" import pacTabs -%}

  {{ pacTabs({
      items: listTabs,
      controls: "case-list"
  }) }}
{% endblock %}