{% extends "partials/layout.njk" %}

{% set title = "Search list" %}

{% set tableData = {
    head: [
        { text: "Defendant" },
        { text: "Probation status" },
        { text: "Offence" },
        { text: "Last hearing" },
        { text: "Next hearing" }
    ],
    rows: []
} %}

    {% for item in params %}

        {% set offences = [] %}

        {% if item.offences | length === 1 %}
            {% for offence in item.offences %}
                {{ offences.push(offence.offenceTitle | escape) }}
            {% endfor %}
            {% elif item.offences | length %}
            {{ offences.push('<ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">') }}
            {% for offence in item.offences %}
                {{ offences.push('<li>' + offence.offenceTitle | escape + '</li>') }}
            {% endfor %}
            {{ offences.push('</ol>') }}
        {% endif %}

        {% set defendantFullName = (item.name.forename1 + ' ' + item.name.surname) if (item.name.forename1 and item.name.surname) else item.defendantName %}
        {% set a11yTitle = 'View case for defendant ' + defendantFullName | escape | apostropheInName | properCase | removeTitle %}
        {% set crnDisplay = '<div class="pac-secondary-text govuk-body-s govuk-!-margin-top-1">' + item.crn if item.crn else '' + '</div>' %}

    {% endfor %}

{% block content %}

    {%- from "components/search/macro.njk" import pacSearch -%}
    {{ pacSearch({
        search: search,
        params: crn
    }) }}

    <h1 class="govuk-heading-l">Search</h1>

    {% block table %}
        {{ params | dump }}
        <span class="govuk-heading-m">{{ params.caseCount }} case{{ 's' if params.caseCount > 1 }} {% if params.subsection !== "" %} {% if params.subsection === "added" %}added to {% else %}removed from {% endif%} today's case list.{% endif %}</span>
        {%- from "govuk/components/table/macro.njk" import govukTable -%}
            {{ govukTable(tableData) }}
    {% endblock %}

{#    <p class="govuk-body">{{ "There are no matching cases." if params.filtersApplied else "No case list information available." }}</p>#}

{% endblock %}
