{% extends "partials/layout.njk" %}

{% block navigation %}{% endblock %}

{% block content %}
    <form method="post" name="selectCourt" novalidate>
        <h1 class="govuk-heading-l">Select a magistrates' court</h1>

        <div class="govuk-grid-row">
            {%- for courts in params.availableCourts | slice(2) %}
                <div class="govuk-grid-column-{{ 'one-third' if loop.index === 1 else 'two-thirds' }}">
                    {%- for court in courts %}
                        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-2">
                            <a href="/select-court/{{ court.code }}" class="govuk-link govuk-link--no-visited-state">{{ court.shortName }}</a>
                        </p>
                    {%- endfor %}
                </div>
            {%- endfor %}
        </div>
    </form>
{% endblock %}
