{% block javascripts %}
    <script type="text/javascript" src="/javascripts/set-notification-{{ appVersion }}.min.js" nonce="{{ nonce }}"></script>
{% endblock %}

{% extends "partials/layout.njk" %}

{% block navigation %}{% endblock %}

{% block cookieBanner %}{% endblock %}

{% block content %}
<form name="notificationForm" id="notificationForm" class="hide-errors" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <iframe id="render" aria-label="render-preview" data-cy="render-frame" style="border: none; width: 100%;" src="/set-notification-preview"></iframe>

      <h1 class="govuk-heading-l">Set notification banner</h1>
      <p class="govuk-body">This will display a notification banner on the main case list page for all users.</p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
        text: "This will be visible to all users immediately.",
        iconFallbackText: "Warning"
      }) }}

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: { text: "Notification banner html" },
        attributes: {
          "data-cy": "notification-input"
        },
        id: "notification",
        name: "notification",
        value: currentNotification,
          errorMessage: {
            html: "FIX THE ERROR MESSAGE BELOW.<br /><span class='govuk-!-font-size-16'>Once this is done you will be able to click the submit button.</span><br /><br /><span id='notification-error-text'></span>",
            classes: "govuk-!-display-none"
          }
      }) }}

      {% from "govuk/components/select/macro.njk" import govukSelect %}
      {{ govukSelect({
        id: "expires",
        name: "expires",
        label: {
          text: "Expires in"
        },
        items: [
          {
            value: "6",
            text: "6 hours"
          },
          {
            value: "12",
            text: "12 hours",
            selected: true
          },
          {
            value: "24",
            text: "24 hours"
          },
          {
            value: "36",
            text: "36 hours"
          },
          {
            value: "48",
            text: "48 hours"
          },
          {
            value: "60",
            text: "60 hours"
          },
          {
            value: "72",
            text: "72 hours"
          }
        ]
      }) }}

      <button type="submit" class="govuk-button action-button" data-cy="notification-submit">Set notification html</button>

    </div>
  </div>
</form>
{% endblock %}
