{% extends "partials/layout.njk" %}

{% set title = "Set notification" %}

{% block navigation %}{% endblock %}
{% block cookieBanner %}{% endblock %}
{% block content %}
<form name="notificationForm" id="notificationForm" method="post" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if currentNotification | length %}
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
        {{ govukNotificationBanner({
          html: "<span class='govuk-notification-banner__heading'>" + currentNotification + "</span>"
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Set notification</h1>
      <p class="govuk-body">This will display a notification on the main case list page for all users.</p>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
        text: "This will be visible to all users immediately.",
        iconFallbackText: "Warning"
      }) }}

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: { text: "Notification text" },
        id: "notification",
        name: "notification",
        value: currentNotification
      }) }}

      <button type="submit" class="govuk-button">Set notification text</button>

    </div>
  </div>
</form>
{% endblock %}
