{% extends "partials/layout.njk" %}

{% set title = "User guide" %}

{% block navigation %}{% endblock %}
{% block cookieBanner %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters pac-!-grid-column--max-700">

      <h1 class="govuk-heading-l">User guide</h1>

      <nav class="" aria-label="navigation">

        <p class="govuk-body">In this guide:</p>


        <ul class="govuk-list govuk-!-margin-bottom-5 pac-dash-list">
          <li>
            <a href="#ug-overview" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Overview</a>
          </li>
          <li>
            <a href="#ug-getting-started" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Getting started</a>
          </li>
          <li>
            <a href="#ug-viewing-a-case-list" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Viewing a case list</a>
          </li>
          <li>
            <a href="#ug-viewing-a-case" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Viewing a case</a>
          </li>
          <li>
            <a href="#ug-viewing-an-order" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Viewing an order</a>
          </li>
          <li>
            <a href="#ug-defendants-with-possible-ndelius-records" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Defendants
              with possible NDelius records</a>
          </li>
          <li>
            <a href="#ug-linking-and-unlinking-ndelius-records" class="govuk-link govuk-link--no-underline govuk-!-margin-left-1">Linking and
              unlinking NDelius records</a>
          </li>
        </ul>


      </nav>

      <h2 class="govuk-heading-m" id="ug-overview">Overview</h2>

      <p class="govuk-body">Prepare a case for sentence is a digital service that helps probation practitioners and
        court administrators prepare for cases in magistrates’ courts.</p>

      <p class="govuk-body">The service gives an overview of defendants appearing in a court, including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what they've been charged with</li>
        <li>their probation status</li>
        <li>their NDelius probation record including information on current and previous orders</li>
        <li>risk information</li>
      </ul>

      <p class="govuk-body">By automatically matching defendants to probation records and displaying key information, the service saves time and effort for probation practitioners and court administrators as they prepare for cases in advance and on the day.
      </p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/3WiMGksB9iE" title="What is Prepare a Case for Sentence" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h2 class="govuk-heading-m" id="ug-getting-started">Getting started</h2>

      <h3 class="govuk-heading-s" id="ug-selecting-a-court">Selecting the courts you work in</h3>
      <p class="govuk-body">When you sign in to the service for the first time, you will be asked to add the courts you work in.</p>
      <p class="govuk-body">Type in the name of a court and add it. When you have added all of the courts you work in, save the list.</p>
      <p class="govuk-body">The list of courts will appear on 'My courts'.  Select a court to view case lists.</p>
      <p class="govuk-body">If you need to view a different court, go to 'My courts' at the top of the page.</p>
      <p class="govuk-body">To add or remove courts from 'My courts', go to 'Edit my courts'.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/ArIWD4TSFh4" title="How to set up my courts" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h2 class="govuk-heading-m" id="ug-viewing-a-case-list">Viewing a case list</h2>

      <p class="govuk-body">The case list will show all cases due to be heard in a court on a particular day.</p>
      <p class="govuk-body">You can see up to 2 weeks ahead (including today) and 2 weeks in the past. Select a date on the date picker to jump to the case list for that day.
      </p>

      <h3 class="govuk-heading-s" id="ug-what-you-can-see-on-the-case-list">What you can see on the case list</h3>
      <p class="govuk-body">For each case you can see:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>defendant's name</li>
        <li>their probation status</li>
        <li>the offence they are appearing for</li>
        <li>case listing, courtroom and session</li>
      </ul>

      <p class="govuk-body">Defendants can have one of four probation statuses:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong class="govuk-!-font-weight-bold">Current</strong> - the defendant has a probation record and an
          order that they are currently subject to
        </li>
        <li><strong class="govuk-!-font-weight-bold">Pre-sentence record</strong> - the defendant has a probation record for a conviction that has not been sentenced yet
        </li>
        <li><strong class="govuk-!-font-weight-bold">Previously known</strong> - the defendant has a probation record
          but are not supervised by probation currently
        </li>
        <li><strong class="govuk-!-font-weight-bold">No record</strong> - no probation record could be found that
          matches the name, date of birth or PNC number of the defendant
        </li>
      </ul>

      <p class="govuk-body">If a defendant has a 'Possible NDelius record', you need to review the details of any possible records and confirm their probation status.</p>

      <h3 class="govuk-heading-s" id="ug-searching-for-someone">Searching for someone</h3>

      <p class="govuk-body">You can search for a defendant using either their full name or CRN. </p>

      <p class="govuk-body">You should only use upper case letters in CRN searches. The search will not return any results if you search with a lowercase letter. For example A123456 will work but a123456 will not.</p>
      
      <h3 class="govuk-heading-s" id="ug-applying-filters-to-a-case-list">Applying filters to a case list</h3>
      <p class="govuk-body">You can filter a case list by probation status, courtroom, session, source and flag. You can apply
        multiple filters to a case list.</p>
      <p class="govuk-body">When filters are applied, the case list will only display cases that match the selected
        filters.</p>
      <p class="govuk-body">You can remove filters individually or all at once by selecting 'Clear all'.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/jfEEbemA9Cw" title="How to find cases of interest on the caselist" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3 class="govuk-heading-s" id="ug-viewing-a-case">Viewing a case</h3>
      <p class="govuk-body">To view more information about a case, click the defendant's name on the case list.
      </p>
      <p class="govuk-body">In each case you will see the defendant's name, PNC number (if supplied by the police), their probation status and a case reference number (CRN) if they have an NDelius record.
      </p>
      <p class="govuk-body">Depending on whether the defendant has a probation record or not, there will also be the option to link or unlink an NDelius record.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/TOdktySqqPY" title="How to see more information about a case" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3 class="govuk-heading-s" id="ug-case-summary">Case summary</h3>
      <p class="govuk-body">The case summary includes:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>details of when and where the case will be heard</li>
        <li>the offence and a brief summary</li>
        <li>the defendant's personal details - name, gender, date of birth, address and nationality</li>
        <li>the timeline of the case’s hearings and when the next hearing is scheduled for</li>
        <li>comments about a defendant</li>
      </ul>

      <p class="govuk-body">If a defendant has no probation record, you will only see the case summary information.</p>

      <h3 class="govuk-heading-s" id="ug-probation-record">Probation record</h3>
      <p class="govuk-body">If the defendant has a record, you can see information about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>current orders - type and length of order, offence committed, requirements, custodial status and licence or
          PSS conditions
        </li>
        <li>previous orders - type and length of order, offence committed</li>
        <li>offender manager information - name, where they work and contact details</li>
        <li>date and type of last PSR and OASys assessment</li>
      </ul>

      <h3 class="govuk-heading-s" id="ug-risk-register">Risk register</h3>

      <p class="govuk-body">If the defendant has a probation record, the risk register shows:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>active risks - type of risk, when it was registered and next review date</li>
        <li>inactive risks - type of risk, when it was registered and expired</li>
      </ul>

      <h2 class="govuk-heading-m" id="ug-adding-comments">Adding comments to a case</h2>

      <p class="govuk-body">You can add comments to a case, for example:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>any relevant one-to-one contacts with the defendant (must also be recorded in NDelius)</li>
        <li>contacts with their solicitor or other stakeholders (must also be recorded in NDelius)</li>
        <li>details of the post-sentence interview and the reporting instructions that were given (must also be recorded in NDelius)</li>
        <li>details of the PSR interview and the instructions that were given.</li>
      </ul>

      <p class="govuk-body">Comments will not be transferred to NDelius.</p>

      <h3 class="govuk-heading-s" id="ug-how-to-add-comment">How to add a comment</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>Choose a case from the case list</li>
        <li>Scroll down to the bottom of the case</li>
        <li>Type or paste your comments into the text box</li>
        <li>Select Save</li>
      </ul>

      <p class="govuk-body">Your name and the time and date will be added to the note or comment.</p>

      <p class="govuk-body">You can add as many comments as you like to a case.</p>

      <p class="govuk-body">Adding comments to Prepare a case does not replace NDelius you should use professional judgement when recording information and consider whether it should be duplicated in NDelius. If a case is current then comments should be flagged to the Probation Practitioner in an NDelius case note.</p>

      <h2 class="govuk-heading-m" id="ug-viewing-an-order">Viewing an order</h2>

      <p class="govuk-body">Click an order on the probation record to view more information about it including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>when the order started and ends</li>
        <li>summary of attendance including number of appointments to date and a breakdown of whether attendances and
          absences were recorded as acceptable or unacceptable
        </li>
        <li>a link to the NDelius contacts related to that order</li>
      </ul>

      <p class="govuk-body">You will see different information depending on whether it is a community or custodial
        order.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/7NxU5V4HYxs" title="How to see more information about a current order" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3 class="govuk-heading-s" id="ug-community-orders">Community orders</h3>
      <p class="govuk-body">You can also see:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>requirements including the type and length</li>
        <li>a summary of unpaid work progress if they have an unpaid work requirement</li>
      </ul>

      <h3 class="govuk-heading-s" id="ug-custodial-orders">Custodial orders</h3>
      <p class="govuk-body">You can also see:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>their custodial status - in custody, on licence or on post sentence supervision (PSS)</li>
        <li>post-release dates including when home detention curfew, licence and PSS periods start and end</li>
        <li>licence or PSS conditions they are subject to</li>
      </ul>

      <h3 class="govuk-heading-s" id="ug-breach">Breach</h3>
      <p class="govuk-body">When breach proceedings are in progress against a defendant, a breach badge will display on
        the case list above their probation status.</p>

      <p class="govuk-body">You can find out which order the defendant is currently in breach of by going to their
        probation record on the case.</p>

      <p class="govuk-body">The order summary for the breached order will show:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the current status of the breach</li>
        <li>if it is ready to prosecute</li>
        <li>any notes or documents associated with the breach</li>
      </ul>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/_-9_s9X9Lqk" title="Getting more information about a defendant in breach" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h2 class="govuk-heading-m" id="ug-defendants-with-possible-ndelius-records">Defendants with possible NDelius
        records</h2>

      <p class="govuk-body">Some defendants may have 'Possible NDelius record' as their probation status.</p>

      <p class="govuk-body">This happens when the service has found one or more records that match the defendant's
        details.</p>

      <p class="govuk-body">You need to review the records that have been found and select the correct record.
        This will update the case with the defendant's probation status and NDelius record information.</p>

      <h3 class="govuk-heading-s" id="ug-reviewing-possible-records">Reviewing possible records</h3>
      <p class="govuk-body">There are two ways to review possible records for a defendant. You can either go to the case
        of the defendant or use the 'Review defendants with possible records' link above the case list.</p>

      <p class="govuk-body">When you 'Review records' you will be able to see and compare the defendant's details from
        Libra (name, date of birth, address and PNC) to the details of the possible NDelius records.</p>

      <p class="govuk-body">Check if any of the records match the defendant. If a record matches the defendant, select
        it and 'Confirm record'.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/lFeNR_fonRU" title="What to do if a defendant is appearing as 'Possible NDelius record'" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3 class="govuk-heading-s" id="ug-duplicate-records">Duplicate records</h3>

      <p class="govuk-body">If the defendant has duplicate NDelius records, you should select one of the records to link
        to that defendant for the case.</p>

      <p class="govuk-body">You should make a note of the duplicate CRN and follow your existing processes for flagging duplicate NDelius records.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/wpaijG1k7Uw" title="What to do if both records match the defendant" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3 class="govuk-heading-s" id="ug-if-none-of-the-possible-records-are-the-defendant">If none of the possible
        records are the defendant</h3>

      <p class="govuk-body">If none of the possible records match the defendant , click 'Can't see the correct record?'
        to either confirm the defendant does not have a probation record or to link them to a different record using an
        NDelius case reference number.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/8nLONpnTujE" title="What to do if none of the possible records match the defendant" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h2 class="govuk-heading-m" id="ug-linking-and-unlinking-ndelius-records">Linking and unlinking NDelius
        records</h2>

      <h3 class="govuk-heading-s" id="ug-link-a-record-to-a-defendant">Link a record to a defendant</h3>
      <p class="govuk-body">If a defendant displays as 'No record' but you are aware they are known to probation, you
        can link an NDelius record to them with a case reference number (CRN).</p>

      <p class="govuk-body">To link a record you need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>go to the case and 'Link NDelius record'</li>
        <li>enter the case reference number of the NDelius record</li>
        <li>'Find record' to see details of the record</li>
        <li>check the details are correct and then 'Link record to defendant'</li>
      </ul>

      <p class="govuk-body">When you link a record to a defendant, the case will update to show the defendant's new
        probation status, and display their probation record and risk register information.
      </p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/3hvaxw7x4aU" title="How to link an NDelius record to a defendant" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <h3 class="govuk-heading-s" id="ug-unlink-a-record-from-a-defendant">Unlink a record from a defendant</h3>
      <p class="govuk-body">If a defendant has been linked to the wrong NDelius record, you can unlink the record.</p>

      <p class="govuk-body">To unlink a record you need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>go to the case and 'Unlink NDelius record'</li>
        <li>check the details of the linked record and then 'Unlink record from defendant'</li>
      </ul>

      <p class="govuk-body">When you unlink a record from a defendant, the case will update to show the defendant as 'No
        record' and give you the option to link a different record.</p>

      <iframe class="govuk-!-margin-bottom-6 no-border" width="560" height="315" src="https://www.youtube.com/embed/Fy6r6kKtajc" title="How to unlink an NDelius record from a defendant" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
  </div>
{% endblock %}
