{% extends "partials/layout.njk" %}

{% set title = "What's new" %}

{% block navigation %}{% endblock %}
{% block cookieBanner %}{% endblock %}
{% block backlink %}
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

    {{ govukBackLink({
        text: "Back",
        href: '/'
    }) }}

{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">What's new</h1>
            <p class="govuk-body">The latest updates and improvements to Prepare a case for sentence.</p>

            <h2 class="govuk-heading-m">27 July 2023</h2>

            <h2 class="govuk-heading-s">Search for a defendant</h2>

            <p class="govuk-body">You can search for a defendant using their name or CRN.</p>

            <p class="govuk-body">At the moment you can only include an uppercase letter in a CRN search, it will not return any results if you search with a lowercase letter. For example A123456 will work but a123456 will not.</p>

            <h2 class="govuk-heading-s">Add comments to a case</h2>

            <p class="govuk-body">When a defendant is appearing in court, you can now type comments about the hearing straight into Prepare a case for sentence.</p>

            <p class="govuk-body">This means that if a defendant returns to court for another hearing, whoever is doing court duty that day will be able to see information about them without leaving Prepare a case for sentence.</p>

            <p class="govuk-body">The comments will stay on the case unless you delete them.</p>

            <p class="govuk-body">Any comments you add will <strong>not be transferred to NDelius</strong> or any other system. You should use professional judgement when recording information in Prepare a case and consider whether this should be duplicated in NDelius. </p>

            <p class="govuk-body">If someone is current then you must create an NDelius case note to alert the Probation Practitioner, it is not enough to just add a comment to Prepare a case.</p>

            <p class="govuk-body">Use of this new feature is optional. You can discuss as a team whether you feel it will have any benefits for your court's ways of working.</p>

            <h2 class="govuk-heading-m">7 February 2023</h2>

            <h2 class="govuk-heading-s">View cases in the past and see a case history</h2>

            <ul class="govuk-list govuk-list--bullet">
                <li>View case lists 6 working days in the past<br/>
                    Up to now you have been able to see case lists 6 days in the future to help you prepare cases in advance. Now you will be able to go backwards to see cases from the past to check results from recently heard cases.
                </li>
                <li>See the progress of a case in a case history<br/>
                    See all of the hearings that have taken place for each case and when the next hearing is scheduled for.
                </li>
            </ul>

            <p class="govuk-body">The type of hearing, for example sentencing, plea or first hearing will only be listed for Common Platform cases. For Libra cases the hearings will be numbered not labelled with a hearing type.</p>

            <p class="govuk-body">If you see any problems with the new features, post them in the <a class="govuk-link" href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fchannel%2F19%3A8f91039f983642a3a704091dd1eb5b3f%40thread.tacv2%2FFeedback%2520and%2520queries%3FgroupId%3D11fe98ab-bd31-44aa-ab95-8ab68808964a%26tenantId%3Dc6874728-71e6-41fe-a9e1-2e8c36776ad8&type=channel&deeplinkId=673449c9-e109-4138-95fb-020f2ad590d8&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true">feedback Teams channel</a> and we will investigate.</p>

            <h2 class="govuk-heading-m">24 January 2023</h2>

            <h2 class="govuk-heading-s">Checking for missing PSR statuses</h2>

            <p class="govuk-body">
                You might have noticed that sometimes the case list shows that someone has no record even if their case has been adjourned for a PSR. This is a problem with matching the information from NDelius to our system. We are working on a solution which will be available with other improvements in March.
            </p>
            <p class="govuk-body">
                Until then, if you see a no-record and the listing number is more than one then there's a chance they have a PSR and you should check.
            </p>

            <p class="govuk-body">There are 2 ways to check:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you can check the Court Diary for that day to see a list of all PSR reports due on a day to make sure you don’t miss any.</li>
                <li>you can look up the defendant in NDelius to see if there is a PSR request.</li>
            </ul>

            <h3 class="govuk-heading-s">How to find reports in Court Diary</h3>

            <ol class="govuk-list govuk-list--number">
                <li>Sign into NDelius and select Court Diary from the home screen.</li>
                <li>Select Reports from the left-hand navigation menu.</li>
                <li>Choose the date, provider (your region) and court from the search criteria, then select the Refresh button.</li>
                <li>You will see a table of all defendants and their reporting needs for the filtered view you selected.</li>
            </ol>

            <p class="govuk-body pac-secondary-text">Last updated: 27 July 2023</p>
        </div>
    </div>
{% endblock %}
