{%- set formName = params.formName or 'pacFilterForm' -%}

<section class="pac-filter-card govuk-!-margin-bottom-6">
    <form name="pac-filter-form" id="pac-filter-form" method="post">

        <p class="govuk-heading-s">Filters</p>

        {% for filter in params.filters %}

            {%- set hasSelected = false -%}
            {% for item in filter.items %}
                {% if item.checked %}
                    {% set hasSelected = true %}
                {% endif %}
            {% endfor %}

            <div class="pac-filter-container">
                <button id="button-{{ filter.id }}" type="button"
                        class="pac-filter-button{% if hasSelected %} pac-filter-button--selected{% endif %}"
                        data-controls="filter-{{ filter.id }}-selection"
                        aria-controls="filter-{{ filter.id }}-selection">{{ filter.label }}
                </button>

                <div id="filter-{{ filter.id }}-selection" class="pac-filter-selection moj-js-hidden">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend moj-js-hidden">
                                Probation
                                record
                            </legend>
                            <div class="govuk-checkboxes govuk-checkboxes--small">

                                {% for item in filter.items %}
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input pac-filter-checkbox"
                                               id="checkbox-{{ filter.id }}-{{ loop.index }}"
                                               name="{{ filter.id }}"
                                               type="checkbox"
                                               value="{{ item.value or item.label }}"{% if item.checked %} checked{% endif %}>
                                        <label class="govuk-label govuk-checkboxes__label"
                                               for="checkbox-{{ filter.id }}-{{ loop.index }}">{{ item.label }}</label>
                                    </div>
                                {% endfor %}

                            </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        {% endfor %}

        <button type="submit" class="govuk-button pac-apply-filters-button">Apply filters</button>

        {%- set hasSelected = false -%}
        {% for filter in params.filters %}
            {% for item in filter.items %}
                {% if item.checked %}
                    {% set hasSelected = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="pac-selected-filters{% if not hasSelected %} moj-js-hidden{% endif %}">
            <p class="govuk-body govuk-!-margin-bottom-0">
                <span class="govuk-!-font-weight-bold">Applied filters</span>
                <a href="#" id="reset-filters" class="govuk-link govuk-link--no-visited-state govuk-body-s govuk-!-margin-left-2">Clear all</a></p>

            {% for filter in params.filters %}

                {%- set hasSelected = false -%}
                {% for item in filter.items %}
                    {% if item.checked %}
                        {% set hasSelected = true %}
                    {% endif %}
                {% endfor %}

                <div id="pac-filters-applied-{{ filter.id }}"
                     class="pac-filters-applied--container{% if not hasSelected %} moj-js-hidden{% endif %}">
                    <p class="govuk-body-s govuk-!-margin-top-2 govuk-!-margin-bottom-0 pac-selected-filters--label">{{ filter.label }}</p>
                    <div class="pac-filters-applied">
                        {% for item in filter.items %}
                            {% if item.checked %}
                                <button class="moj-filter__tag pac-filter__tag" type="button"
                                     data-controls="checkbox-{{ filter.id }}-{{ loop.index }}">{{ item.label }}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </form>
</section>
