$govuk-page-width: 1220px;
$moj-page-width: $govuk-page-width;
// $govuk-brand-colour: #204060;

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "node_modules/accessible-autocomplete/src/autocomplete";
@import "app/all";
