{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

<section class="pac-key-details-bar" aria-label="Key details">
    <div class="pac-key-details-bar__key-details pac-key-details-bar-flex">

        <div class="pac-key-details-bar-flex__child">

            <div class="pac-key-details-bar-flex">
                <div class="pac-key-details-bar-flex__child">
                    <h2 class="pac-key-details-bar__name govuk-!-margin-right-4">{% if params.accTitle %}<span
                                class="govuk-visually-hidden">{{ params.accTitle }}</span>{% endif %}{{ params.title }}
                    </h2>
                </div>
                {% if params.crn | length %}
                    <div class="pac-key-details-bar-flex__child">
                        <span class="govuk-body{{ " pac-key-details-bar__divider" if params.pnc | length }}"><strong>CRN: </strong>{{ params.crn }}</span>
                    </div>
                {% endif %}
                {% if params.pnc | length %}
                    <div class="pac-key-details-bar-flex__child">
                        <span class="govuk-body"><strong>PNC: </strong>{{ params.pnc }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="pac-key-details-bar-flex">
                <div class="pac-key-details-bar-flex__child pac-probation-status">
                    <span class="govuk-body"><strong>Probation status: </strong>
                        {% set probationStatusInfo = params.probationStatus | string %}
                         {% if probationStatusInfo | lower === "possible ndelius record" or probationStatusInfo | lower === "no record" if params.probationStatus %}
                            {{ probationStatusInfo }}
                         {% else %}
                             {{ probationStatusInfo | capitalize }}
                             {% if params.awaitingPsr %} (PSR) {% endif %}
                             {% if params.breach %} (Breach) {% endif %}
                         {% endif %}
                    </span>
                </div>
            </div>

        </div>

        {% if not params.manualMatch %}
            {% if params.actionButtonItems %}
                <form method="post">
                    {{ mojButtonMenu({
                    items: params.actionButtonItems
                    }) }}
                </form>
            {% endif %}
        {% endif %}

    </div>
</section>
