{% from "govuk/components/button/macro.njk" import govukButton %}
{%- set moment = params.moment -%}

{% block javascripts %}
  {% if displayFilters %}
    <script type="text/javascript" src="/javascripts/hearing-outcomes-date-sort-component-{{ appVersion }}.min.js"></script>
    <script type="text/javascript" src="/javascripts/filter-component-{{ appVersion }}.min.js"></script>
  {% endif %}
  <script type="text/javascript" src="/javascripts/case-progress-{{ appVersion }}.min.js"></script>
{% endblock %}

{% set tableData = {
  attributes: {
    'id': 'hearing-outcome-in-progress'
  },
  head:
  [
    { text: "Defendant" },
    { text: "Outcome type" },
    { text: "Probation status" },
    { text: "Offence", "classes": "govuk-!-width-one-third" },
    { 
      text: ('
      <button id="button-hearing-outcome-sort" type="button" class="pac-sort-button" data-sort="' + params.hearingDateSort + '"
          aria-controls="button-hearing-outcome-sort">Hearing date
      </button>
    ') | safe,
      format: 'numeric',
      attributes: {
      "aria-sort": params.hearingDateSort
    }
    },
    { text: "Action" }
  ],
  rows: []
} %}

{% for item in data %}

  {% set offences = [] %}

  {% set notMatched = item.probationStatus | string | lower == "possible ndelius record" %}
  {% if item.offences | length === 1 %}
    {% for offence in item.offences %}
      {{ offences.push(offence | escape) }}
    {% endfor %}
    {% elif item.offences | length %}
    {{ offences.push('<ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">') }}
    {% for offence in item.offences %}
      {{ offences.push('<li>' + offence | escape + '</li>') }}
    {% endfor %}
    {{ offences.push('</ol>') }}
  {% endif %}


  {% set defendantFullName = (item.name.forename1 + ' ' + item.name.surname) if (item.name.forename1 and item.name.surname) else item.defendantName %}
  {% set a11yTitle = 'View case for defendant ' + defendantFullName | escape | apostropheInName | properCase | removeTitle %}
  {% set crnDisplay = '<div class="pac-secondary-text govuk-body-s govuk-!-margin-top-1">' + item.crn if item.crn else '' + '</div>' %}
  {% set assignedToCurrentUser = currentUserUuid === item.assignedToUuid %}
  {%- set tableRow = [
    { text: ('<a href="/' + params.courtCode + '/hearing/' + item.hearingId + '/defendant/' + item.defendantId + '/summary" class="pac-defendant-link govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state' + (' pac-reassign' | safe if not assignedToCurrentUser ) + '" aria-label="' + a11yTitle + '"' + ('data-hearingid="' + item.hearingId + '" data-defendantid="' + item.defendantId + '" data-courtcode="' + params.courtCode + '" data-bs-toggle="modal" data-bs-target="#reassign-outcome-modal"' | safe if not assignedToCurrentUser) + '>' + defendantFullName | escape | apostropheInName | properCase | removeTitle + '</a>' + crnDisplay ) | safe },
    { text: item.hearingOutcomeDescription | safe },
    { text: ('<div>' + ('<span class="moj-badge moj-badge--red pac-badge">Possible NDelius Record</span>' | safe if notMatched ) + '</div>'+ (item.probationStatus | string | capitalize if not notMatched)) | safe },
    { text: offences | join('') | safe },
    { text: moment(item.hearingDate, 'YYYY-MM-DD').format("D MMM YYYY"), format: 'numeric' },
    { text:  govukButton({
      text: 'Move to resulted',
      classes: ('' if assignedToCurrentUser else "govuk-button--secondary"),
      href: ('hearing/' + item.hearingId + '/defendant/' + item.defendantId + '/move-to-resulted?defendantName=' + item.defendantName) if assignedToCurrentUser else '',
      disabled: not assignedToCurrentUser
    }) }
  ] -%}
  {{ tableData.rows.push(tableRow) }}

{% endfor %}

{%- set listTabs = [
  {
    title: 'Cases to result',
    a11yTitle: 'View cases to result',
    link: '/' + params.courtCode + '/outcomes/',
    count: params.casesToResultCount
  },
  {
    title: 'In progress',
    a11yTitle: 'View case outcomes in progress',
    link: '/' + params.courtCode + '/outcomes/in-progress',
    current: true,
    count: params.casesInProgressCount
  },
  {
    title: 'Resulted cases',
    a11yTitle: 'View resulted cases',
    link: '/' + params.courtCode + '/outcomes/resulted-cases'
  }
] -%}

{% extends "../partials/layout.njk" %}

{% block content %}

  {% if flashMessage | length %}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
    {% set html %}
      <p class="govuk-notification-banner__heading">
        {{flashMessage}}
      </p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  {% endif %}


  {% if moveToResultedSuccess | length %}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
    {% set html %}
      <p class="govuk-notification-banner__heading">
        You have moved {{ moveToResultedSuccess | apostropheInName | properCase | removeTitle }}'s case to resulted cases.
      </p>
    {% endset %}
    {{ govukNotificationBanner({
      html: html,
      type: 'success'
    }) }}
  {% endif %}
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" aria-label="{{ title }}">{{ title }}</h1>

  {% if displayFilters %}
    {%- from "components/filter/macro.njk" import pacFilter -%}
    {{ pacFilter({
      filters: params.filters,
      hiddenInputs: params.sorts
    }) }}
  {% endif %}

  {% include "court-case-progress-reassign-modal.njk" %}

  {%- from "components/tabs/macro.njk" import pacTabs -%}

  {{ pacTabs({
    items: listTabs,
    controls: "outcomes"
  }) }}

  <div class="govuk-tabs__panel">
    <h1 class="govuk-heading-l">In progress</h1>
    {% if tableData.rows | length %}
      {% block table %}
        {%- from "govuk/components/table/macro.njk" import govukTable -%}
        {{ govukTable(tableData) }}
      {% endblock %}
    {% include "outcomes/outcomes-paging-partial.njk" %}
    {% else %}
    {% if params.filtersApplied %}
        <span class="govuk-heading-m">0 cases</span>
      {% endif %}
      <p class="govuk-body">{{ "There are no matching cases." if params.filtersApplied else "There are no cases in progress." }}</p>
    {% endif %}
  </div>

{% endblock %}