{%- set moment = params.moment -%}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}

{% block javascripts %}
  {% if displayFilters %}
    <script type="text/javascript" src="/javascripts/hearing-outcomes-date-sort-component-{{ appVersion }}.min.js"></script>
    <script type="text/javascript" src="/javascripts/filter-component-{{ appVersion }}.min.js"></script>
  {% endif %}
  <script type="text/javascript" src="/javascripts/case-progress-{{ appVersion }}.min.js"></script>
  <script type="text/javascript" src="/javascripts/checker_toggle-{{ appVersion }}.min.js"></script>
{% endblock %}

{% set tableData = {
  attributes: {
    'id': 'hearing-outcome'
  },
  head:
  [
    { html: govukCheckboxes({
      name: "common_checker_toggle_apply",
      classes: "common_checker_toggle_apply govuk-checkboxes--small",
      items: [{
        value: "",
        html: " "
      }]}) 
    },
    { text: "Defendant" },
    { text: "Outcome type" },
    { text: "Probation status" },
    { text: "Offence" },

    { 
      text: ('
      <button id="button-hearing-outcome-sort" type="button" class="pac-sort-button" data-sort="' + params.hearingDateSort + '"
          aria-controls="button-hearing-outcome-sort">Hearing date
      </button>
    ') | safe,
      format: 'numeric',
      attributes: {
        "aria-sort": params.hearingDateSort
      }
    }
  ],
  rows: []
} %}

{% for item in data %}

  {% set offences = [] %}

  {% set notMatched = item.probationStatus | string | lower == "possible ndelius record" %}
  {% if item.offences | length === 1 %}
    {% for offence in item.offences %}
      {{ offences.push(offence | escape) }}
    {% endfor %}
    {% elif item.offences | length %}
    {{ offences.push('<ol class="govuk-list govuk-list--number govuk-!-margin-bottom-0">') }}
    {% for offence in item.offences %}
      {{ offences.push('<li>' + offence | escape + '</li>') }}
    {% endfor %}
    {{ offences.push('</ol>') }}
  {% endif %}

  {% set defendantFullName = (item.name.forename1 + ' ' + item.name.surname) if (item.name.forename1 and item.name.surname) else item.defendantName %}
  {% set a11yTitle = 'View case for defendant ' + defendantFullName | escape | apostropheInName | properCase | removeTitle %}
  {% set crnDisplay = '<div class="pac-secondary-text govuk-body-s govuk-!-margin-top-1">' + item.crn if item.crn else '' + '</div>' %}
  {% set summaryLink = '/' + params.courtCode + '/hearing/' + item.hearingId + '/defendant/' + item.defendantId + '/summary' %}
  {%- set tableRow = [
    { html: govukCheckboxes({
      name: "defendantHearingId",
      classes: "common_checker_toggle_item govuk-checkboxes--small",
      items: [{
        id: "id_" + item.defendantId + '_' + item.hearingId,
        value: item.defendantId + '_' + item.hearingId,
        html: " "
      }]}) 
    },
    { text: ('<a href="' + summaryLink + '" class="pac-defendant-link pac-assign govuk-!-font-weight-bold govuk-link govuk-link--no-visited-state" data-bs-toggle="modal" data-bs-target="#assign-outcome-modal" aria-label="' + a11yTitle + '" data-hearingid="' + item.hearingId + '" data-defendantid="' + item.defendantId + '" data-courtcode="' + params.courtCode + '">' + defendantFullName | escape | apostropheInName | properCase | removeTitle + '</a>' + crnDisplay ) | safe },
    { text: item.hearingOutcomeDescription | safe },
    { text: ('<div>' + ('<span class="moj-badge moj-badge--red pac-badge">Possible NDelius Record</span>' | safe if notMatched ) + '</div>'+ (item.probationStatus | string | capitalize if not notMatched)) | safe },
    { text: offences | join('') | safe },
    { text: moment(item.hearingDate, 'YYYY-MM-DD').format("D MMM YYYY"), format: 'numeric' }
  ] -%}
  {{ tableData.rows.push(tableRow) }}

{% endfor %}


{%- set listTabs = [
  {
    title: 'Cases to result',
    a11yTitle: 'View cases to result',
    link: '/' + params.courtCode + '/outcomes',
    current: true,
    count: params.casesToResultCount
  },
  {
    title: 'In progress',
    a11yTitle: 'View case outcomes in progress',
    link: '/' + params.courtCode + '/outcomes/in-progress',
    count: params.casesInProgressCount
  },
  {
    title: 'Resulted cases',
    a11yTitle: 'View resulted cases',
    link: '/' + params.courtCode + '/outcomes/resulted-cases'
  }
] -%}

{% extends "../partials/layout.njk" %}

{% block content %}

  {% if outcomeActionAssign %}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
    {% if outcomeActionAssign is string %}
      {% set html %}
        You are assigned to result {{ outcomeActionAssign | removeTitle | apostropheInName | properCase }}. Their case has moved to the in progress tab.
      {% endset %}
    {% else %} 
      {% set html %}
        You are assigned to result {{outcomeActionAssign}} cases. They have moved to the in progress tab.
      {% endset %}
    {% endif %}
    {{ govukNotificationBanner({
      html: '<p class="govuk-notification-banner__heading">' + html + '</p>',
      type: 'success'
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" aria-label="{{ title }}">{{ title }}</h1>

  {% if displayFilters %}
    {%- from "components/filter/macro.njk" import pacFilter -%}
    {{ pacFilter({
      filters: params.filters,
      hiddenInputs: params.sorts
    }) }}
  {% endif %}

  {% include "court-case-progress-assign-modal.njk" %}

  {%- from "components/tabs/macro.njk" import pacTabs -%}

  {{ pacTabs({
    items: listTabs,
    controls: "outcomes"
  }) }}

  <form class="govuk-tabs__panel common_checker_toggle govuk-checkboxes govuk-checkboxes--small" action="?page={{params.currentPage}}" method="POST">

    <div style="float: right">
      {{ mojButtonMenu({
        items: [
          {
            text: "Assign to me",
            name: "action",
            value: "assign",
            classes: "common_checker_toggle_action govuk-button--secondary"
          }
        ]
      }) }}
    </div>
     <h1 class="govuk-heading-l">Cases to result</h1>

    {% if tableData.rows | length %}
      {% block table %}
        {%- from "govuk/components/table/macro.njk" import govukTable -%}
        {{ govukTable(tableData) }}
      {% endblock %}
    {% include "outcomes/outcomes-paging-partial.njk" %}
    {% else %}
      {% if params.filtersApplied %}
        <span class="govuk-heading-m">0 cases</span>
      {% endif %}
      <p class="govuk-body">{{ "There are no matching cases." if params.filtersApplied else "There are no cases to be resulted." }}</p>
    {% endif %}
  </form>

{% endblock %}