{% if totalPages > 1 %}
    {% block pagination %}
        {% from "govuk/components/pagination/macro.njk" import govukPagination %}
        {{ govukPagination({
            previous: pagination.previousLink,
            next: pagination.nextLink,
            items: pagination.pageItems
        }) }}
    {% endblock %}
{% endif %}