{% extends "partials/case-details.njk" %}

{% from "./partials/orders-active/macro.njk" import activeOrdersBlock %}
{% from "./partials/orders-previous/macro.njk" import previousOrdersBlock %}

{%- set moment = params.moment -%}
{%- set communityData = data.communityData -%}
{%- set psrRequestedConvictions = data.psrRequestedConvictions -%}
{%- set activeOrders = [] -%}
{%- set previousOrders = [] -%}

{%- for order in communityData.convictions if communityData.convictions | length %}
    {% if order.sentence %}
        {% if order.active %}
            {{ activeOrders.push(order) }}
        {% else %}
            {{ previousOrders.push(order) }}
        {% endif %}
    {% endif %}
{% endfor -%}

{% set defendantFullName = (data.name.forename1 + ' ' + data.name.surname) if data.name else data.defendantName %}
{%- set offenderManager = communityData.offenderManagers | first if communityData.offenderManagers -%}

{% block caseContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">
                        {{ "You are restricted from viewing this record" if communityData.status === 403 else "Probation record" }}
                    </h1>
                </div>
            </div>

            {% if communityData.status === 403 %}
                <p class="govuk-body">{{ communityData.data.userMessage }}</p>
                <p class="govuk-body">If you think you should be able to view this case, contact your line manager.</p>
            {% endif %}

            {% if psrRequestedConvictions and psrRequestedConvictions | length %}

                <h2 class="govuk-heading-m">Pre-sentence report requested <span
                            class="govuk-caption-l govuk-!-font-weight-bold govuk-!-display-inline-block">({{ psrRequestedConvictions | length }})</span>
                </h2>

                {%- for conviction in psrRequestedConvictions -%}
                    {%- set psrData = conviction.psrReport -%}

                    <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
                        {{ conviction.offence.description | string }}
                    </p>
                    <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">Offence committed
                        on {{ moment(conviction.offence.offenceDate).format('D MMMM YYYY') }}</p>

                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-7">Report requested
                        on {{ moment(psrData.requestedDate).format('D MMMM YYYY') }}</p>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ psrData.courtReportType.description }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Author
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if psrData.author.unallocated %}
                                    Unallocated
                                {% else %}
                                    {{ psrData.author.forenames + " " + psrData.author.surname }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Required by
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ moment(psrData.requiredDate).format('D MMMM YYYY') }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Status
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if psrData.completedDate | length %}
                                    Complete ({{ (moment(psrData.completedDate).format('D MMMM YYYY')) }})
                                {% else %}
                                    Incomplete
                                {% endif %}
                            </dd>
                        </div>
                    </dl>

                    {% if not loop.last %}
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"/>
                    {% endif %}

                {%- endfor -%}

            {% endif %}

            {% if activeOrders | length %}
                {{ activeOrdersBlock(activeOrders, moment, displayDateFormat) }}
            {% endif %}

            {% if previousOrders | length %}
                {% if params.showAllPreviousOrders === params.hearingId %}
                    {% set limitPreviousOrders = previousOrders | length %}
                {% else %}
                    {% set limitPreviousOrders = 5 %}
                {% endif %}
                {{ previousOrdersBlock(previousOrders, limitPreviousOrders, moment, displayDateFormat) }}
            {% endif %}
        </div>

        <div class="govuk-grid-column-one-third govuk-!-padding-left-9 govuk-!-padding-top-9">
            <div class="govuk-!-margin-bottom-6">

                {% if data.probationStatus === "Current" %}
                    <h2 class="govuk-heading-m">Offender manager</h2>
                    {% if offenderManager.allocatedDate %}
                        <p class="govuk-body govuk-!-margin-bottom-0">{{ offenderManager.staff.forenames | properCase }} {{ offenderManager.staff.surname | properCase }}</p>
                        <p class="govuk-hint govuk-!-margin-top-0 govuk-!-margin-bottom-0">Allocated
                            on {{ moment(offenderManager.allocatedDate, 'YYYY-MM-DD').format(displayDateFormat) }}</p>
                        {% if offenderManager.staff.email %}
                            <p class="govuk-body govuk-!-margin-bottom-0">Email: {{ offenderManager.staff.email }}</p>
                        {% endif %}
                        {% if offenderManager.staff.telephone %}
                            <p class="govuk-body">Phone: {{ offenderManager.staff.telephone }}</p>
                        {% endif %}
                        <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-3">
                            Provider: {{ offenderManager.provider }}</p>
                        <p class="govuk-body govuk-!-margin-bottom-0">LDU: {{ offenderManager.team.district }}</p>
                        <p class="govuk-body govuk-!-margin-bottom-0">Team: {{ offenderManager.team.description }}</p>
                        {% if offenderManager.team.email %}
                            <p class="govuk-body govuk-!-margin-bottom-0">Team
                                email: {{ offenderManager.team.email }}</p>
                        {% endif %}
                        {% if offenderManager.team.telephone %}
                            <p class="govuk-body govuk-!-margin-bottom-0">Team
                                phone: {{ offenderManager.team.telephone }}</p>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if data.lastPsrWithSentence %}
                    {% set latestDocument = {
                        description: data.lastPsrWithSentence.subType.description,
                        completedDate: data.lastPsrWithSentence.reportDocumentDates.completedDate
                    } %}

                    {% set monthsOld = moment().diff(moment(latestDocument.completedDate, 'YYYY-MM-DD'), 'months') %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-6">Last pre-sentence report</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">{{ latestDocument.description }}</p>
                    <p class="govuk-hint govuk-!-margin-top-1">
                        Completed
                        {% if monthsOld < 1 %}
                            less than 1 month
                        {% elseif monthsOld === 1 %}
                            1 month
                        {% elseif monthsOld > 6 %}
                            more than 6 months
                        {% else %}
                            {{ monthsOld }} months
                        {% endif %}
                        ago ({{ moment(latestDocument.completedDate, 'YYYY-MM-DD').format(displayDateFormat) }})</p>
                {% endif %}

                {% if communityData.assessment | length %}
                    <h2 class="govuk-heading-m govuk-!-margin-top-6">Last OASys assessment</h2>
                    <p class="govuk-body govuk-!-margin-bottom-0">OASys
                        Assessment {{ communityData.assessment.type | capitalize | replace("_", " ") }}</p>
                    <p class="govuk-hint govuk-!-margin-top-1">Completed
                        on {{ params.moment(communityData.assessment.completed, 'YYYY-MM-DD').format('D MMM YYYY') }}</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
