$govuk-page-width: 1220px;
$moj-page-width: $govuk-page-width;

@import "node_modules/accessible-autocomplete/src/autocomplete";
@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "app/all";

.govuk-notification-banner__content > * {
    max-width: none !important;
}

.moj-header__logo {
    color:#fff;
}