{% set inputId = "search-term" %}

{% if params.searchError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
            <h2 class="govuk-error-summary__title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#{{inputId}}">{{ params.searchError }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<section class="pac-filter-card govuk-!-margin-bottom-6">
    <div class = "{{ ' govuk-form-group--error' if params.searchError else '' }}">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Search</h2>
        {% if params.searchError %}
            <p id="more-detail-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{ params.searchError }}
            </p>
        {% endif %}
        <form name="pac-search-form" id="pac-search-form" method="get" action="/case-search">
            <div class="search-group">
                <label class="govuk-label govuk-!-margin-bottom-3" for="{{inputId}}">Enter the CRN or full name of the person you are searching for.</label>
                <input class="govuk-input govuk-!-width-one-third" id="{{inputId}}" name="term" type="text" maxlength="650" value="{{ params.term }}">
                <button class="govuk-button action-button govuk-!-margin-bottom-1 govuk-!-margin-left-3" data-module="govuk-button" type="submit">Search</button>
            </div>
        </form>
    </div>
</section>
