<div class="govuk-button-group button-group">
    <button class="govuk-button action-button">{{buttonText}}</button>
    {% if cancelLink %}
        <a href="{{cancelLink}}" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    {% endif %}
</div>