<div id="activeOrders">
    <h2 id="activeOrdersTitle" class="govuk-heading-m">
        Current orders
        <span class="govuk-caption-l govuk-!-font-weight-bold govuk-!-display-inline-block">({{ orders | length }})</span>
    </h2>
    {% if strict %}
        {% for order in orders %}
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dd id="activeOrder{{ loop.index0 }}" class="govuk-summary-list__value">
                        <a href="record/{{ order.convictionId }}" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">
                            {{ order.sentence.description + (' (' + order.sentence.length + ' ' + order.sentence.lengthUnits + ')' if order.sentence.length) }}
                            {% if order.inBreach %}
                                <span class="moj-badge moj-badge--black pac-badge govuk-!-margin-left-1">Breach</span>
                            {% endif %}
                        </a>
                        <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{ order.offences[0].description }}</p>
                        <p class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-4">
                            Started on {{ moment(order.sentence.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}
                        </p>

                        {% if order.requirements and order.requirements | length %}
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Requirements</h3>

                            <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                                {%- for requirement in order.requirements %}
                                    {% set category = requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description %}
                                    {% set subCategory = requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description %}
                                    <li>
                                        {{ category  | replace("-", "–") }} {{ " – " + subCategory if category !== subCategory }}
                                        {{ ' – ' + requirement.length + ' ' + requirement.lengthUnit if requirement.length > 0 }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if order.custodialType.description === "In Custody" %}
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Status</h3>
                            <p class="govuk-body">In custody</p>
                        {% endif %}

                        {% if order.licenceConditions and order.licenceConditions | length %}
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Status</h3>
                            <p class="govuk-body">On licence</p>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Licence conditions</h3>
                            <ul class="govuk-list govuk-list--bullet qa-current-licence-conditions-{{ loop.index0 }}">
                                {%- for licenceCondition in order.licenceConditions %}
                                    <li>{{ licenceCondition.description }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if order.pssRequirements and order.pssRequirements | length %}
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Status</h3>
                            <p class="govuk-body">On post-sentence supervision (PSS)</p>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">PSS requirements</h3>
                            <ul class="govuk-list govuk-list--bullet qa-current-pss-requirements-{{ loop.index0 }}">
                                {%- for pssRequirement in order.pssRequirements %}
                                    <li>{{ pssRequirement.description  + (' – ' + pssRequirement.subTypeDescription  | replace("-", "–") if pssRequirement.subTypeDescription | length) }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </dd>
                </div>
            </dl>
        {% endfor %}
    {% else %}
        <ul class="govuk-list pac-list--none">
            {% for order in orders %}
            <li>
                <div id="activeOrder{{ loop.index0 }}" class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h3 class="govuk-summary-card__title">
                            {{ order.sentence.description + (' (' + order.sentence.length + ' ' + order.sentence.lengthUnits + ')' if order.sentence.length) }}
                            {% if order.inBreach %}
                                <span class="moj-badge moj-badge--black pac-badge govuk-!-margin-left-1">Breach</span>
                            {% endif %}
                        </h3>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link govuk-link--no-visited-state" href="record/{{ order.convictionId }}">View record<span class="govuk-visually-hidden"> for {{ order.sentence.description }}</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Description</dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">{{order.offences[0].description }}</p>
                                    <p class="govuk-hint govuk-!-margin-top-1">Started on {{ moment(order.sentence.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}</p>
                                </dd>
                            </div>
                            {# <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Started on</dt>
                                <dd class="govuk-summary-list__value">{{ moment(order.sentence.startDate, 'YYYY-MM-DD').format(displayDateFormat) }}</dd>
                            </div> #}
                            {% if order.requirements and order.requirements | length %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Requirements</dt>
                                    <dd class="govuk-summary-list__value">
                                        <ul class="govuk-list govuk-list--bullet qa-current-requirements-{{ loop.index0 }}">
                                            {%- for requirement in order.requirements %}
                                                {% set category = requirement.requirementTypeMainCategory.description or requirement.adRequirementTypeMainCategory.description %}
                                                {% set subCategory = requirement.requirementTypeSubCategory.description or requirement.adRequirementTypeSubCategory.description %}
                                                <li>
                                                    {{ category  | replace("-", "–") }} {{ " – " + subCategory if category !== subCategory }}
                                                    {{ ' – ' + requirement.length + ' ' + requirement.lengthUnit if requirement.length > 0 }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </div>
                            {% endif %}
                            {% if order.custodialType.description === "In Custody" %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Status</dt>
                                    <dd class="govuk-summary-list__value">In custody</dd>
                                </div>
                            {% endif %}
                            {% if order.licenceConditions and order.licenceConditions | length %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Status</dt>
                                    <dd class="govuk-summary-list__value">On licence</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Licence conditions</dt>
                                    <dd class="govuk-summary-list__value">
                                        <ul class="govuk-list govuk-list--bullet qa-current-licence-conditions-{{ loop.index0 }}">
                                            {%- for licenceCondition in order.licenceConditions %}
                                                <li>{{ licenceCondition.description }}</li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </div>
                            {% endif %}
                            {% if order.pssRequirements and order.pssRequirements | length %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Status</dt>
                                    <dd class="govuk-summary-list__value">On post-sentence supervision (PSS)</dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">PSS requirements</dt>
                                    <dd class="govuk-summary-list__value">
                                        <ul class="govuk-list govuk-list--bullet qa-current-pss-requirements-{{ loop.index0 }}">
                                            {%- for pssRequirement in order.pssRequirements %}
                                                <li>{{ pssRequirement.description  + (' – ' + pssRequirement.subTypeDescription  | replace("-", "–") if pssRequirement.subTypeDescription | length) }}</li>
                                            {% endfor %}
                                        </ul>
                                    </dd>
                                </div>
                            {% endif %}
                        </dl>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>