# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

minReplicaCount: 2
maxReplicaCount: 4

image:
  repository: quay.io/hmpps/prepare-a-case
  tag: latest
  pullPolicy: Always
  port: 3000

ingress:
  enabled: true
  enable_whitelist: true
  host: prepare-case-probation.service.justice.gov.uk
  cert_secret: court-probation-cert-secret
  path: /

env:
  PAC_ENV: prod
  COURT_CASE_SERVICE_URL: https://court-case-service.apps.live-1.cloud-platform.service.justice.gov.uk
  CASES_PER_PAGE: 20
  NOMIS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
  USER_PREFERENCE_SERVICE_URL: https://hmpps-user-preferences.hmpps.service.justice.gov.uk
  CASE_SNAPSHOT_TIMES: "00:00,08:45,09:45"
  ENABLE_PAST_CASES_NAVIGATION: true
  ENABLE_CASE_COMMENTS: true
  ENABLE_CASE_PROGRESS: true
  CASE_TRACKING_PRE_PILOT_USERS: ZAP37S,BEVERLEYWILLMOTTNPS,ZRX14Y,wyi97r,mdy87w,sarahclarkenps,bethanylilleynps,jenniferrawlingsnps,maxholgatenps,wjf65j

whitelist:
  office: "217.33.148.210/32"
  health-kick: "35.177.252.195/32"
  mojvpn: "81.134.202.29/32"
  cloudplatform-live1-1: "35.178.209.113/32"
  cloudplatform-live1-2: "3.8.51.207/32"
  cloudplatform-live1-3: "35.177.252.54/32"
  ark-internet-1: "194.33.192.0/25"
  ark-internet-2: "194.33.196.0/25"
  moj-official-aws-prod: "51.149.250.0/24"

resources:
  cpu:
    limit: 1000m
    request: 50m
  memory:
    limit: 500Mi
    request: 100Mi
