# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: docker.io/mojdigitalstudio/prepare-a-case
  tag: latest
  pullPolicy: Always
  port: 3000

ingress:
  enabled: true
  enable_whitelist: true
  hosts:
    - host: prepare-a-case-prod.apps.live-1.cloud-platform.service.justice.gov.uk
      cert_secret: prepare-a-case-cert
  path: /

whitelist:
  office: "217.33.148.210/32"
  health-kick: "35.177.252.195/32"
  mojvpn: "81.134.202.29/32"
  cloudplatform-live1-1: "35.178.209.113/32"
  cloudplatform-live1-2: "3.8.51.207/32"
  cloudplatform-live1-3: "35.177.252.54/32"
