.app-summary-card {
  border: 1px solid $govuk-border-colour;

  /* Card header */
  .app-summary-card__header {
    align-items: center;
    background-color: govuk-colour("light-grey");
    padding: govuk-spacing(3);

    @include govuk-media-query($from: desktop) {
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  .app-summary-card__title {
    @include govuk-font($size: 19);
    margin: 0;
    &:only-child {
      width: 100%;
    }
  }

  .app-summary-card__actions {
    @include govuk-font($size: 19);
  }

  .app-summary-card__actions-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .app-summary-card__actions-list-item {
    display: block;
    white-space: nowrap;

    @include govuk-media-query($from: desktop) {
      display: inline-block;
      margin-left: govuk-spacing(2);
      text-align: right;
    }
  }

  .app-summary-card__actions-list-item:first-child {
    margin-left: 0;
  }

  /* Card body */
  .app-summary-card__body {
    @include govuk-font($size: 19);
    padding: govuk-spacing(3);
  }

  .govuk-table,
  .govuk-summary-list,
  .govuk-table {
    margin-bottom: 0;
  }

  .govuk-summary-list__row:last-child,
  .govuk-summary-list__row:last-child > *,
  .govuk-table__row:last-child .govuk-table__cell {
    border-bottom: 0;
  }
}

.app-summary-card--large-title .app-summary-card__title {
  @include govuk-font($size: 24, $weight: bold);
}

.app-summary-card--plain-header .app-summary-card__header {
  background: none;
  padding-bottom: 0;
}

@media print {
  .app-summary-card__header {
    break-inside: avoid;
  }

  .app-summary-card__actions {
    display: none;
  }
}

.app-summary-card-deck {
  .app-summary-card:not(:last-child) {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.app-summary-card__title-with-label {
  align-items: start;
  display: flex;
  justify-content: space-between;
}

.hearing-outcome-display {
  &-date {
    font-weight: unset!important;
  }
}
