// 'pac' prefix used for custom styles to prevent collisions
.pac-phase-tag {
  float: right;
  margin-top:7px;
  margin-left: 5px;
}

.pac-sign-out-link {
  cursor: pointer;
  text-decoration: underline;
}
