// 'pac' prefix used for custom styles to prevent collisions

.pac-beta-wrap{
  display: flex;
  align-items: baseline;
}

.pac-phase-tag {
  position: relative;
  margin-left: 7px;
}

.pac-sign-out-link {
  cursor: pointer;
  text-decoration: underline !important;
}