// 'pac' prefix used for custom styles to prevent collisions
.pac-last-updated {
  display: block;
  @media screen and (min-width: 1100px) {
    display: inline-block;
    top: 12px;
    float: right;
    position: relative;
    @include govuk-clearfix;
  }
}

.pac-last-updated-stamp {
  border-right: 1px solid #626a6e;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  display: inline-block;
}

.pac-next-update-stamp {
  display: inline-block;
}
