body{
  width: 100%;
}

.modal-container {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  .modal-close {
    float: right;
    outline: none;
    appearance: none;
    color: black;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #000000;
    width: 35%;
  }
}

.add-outcome-button-group {
  margin: auto;
  width: 70%;
}
