.moj-sub-navigation__link {
  @extend .govuk-link--no-visited-state;
}

.nav-bar{
  display: flex;
  flex-direction: row;
}

.day-element:hover{
  background-color: govuk-colour("light-grey");
}

span{
  display: flex;
  flex-direction: column;
  text-align: center;
}

span:active{
  background-color: govuk-colour("blue");
  color: govuk-colour("white");
}

.today{
  background-color: #6e3619;
}