.moj-header {
  border-color: $govuk-brand-colour;
}

.moj-sub-navigation__link {
  @extend .govuk-link--no-visited-state;
}

.moj-pagination__results {
  @extend .govuk-body;
}

body.js-enabled {
  .moj-js-hidden {
    @include govuk-visually-hidden;
  }
}

.app-dashboard-count {
  padding: 0 10px 0 0;
  text-align: right;
  min-width: 30px !important;
  display: inline-block;
  margin: 0;
}

.app-section-break--heavy {
  border-bottom: 2px solid;
}
