.pac-pagination-link {
  @extend .govuk-link;
  @extend .govuk-link--no-visited-state;
  @extend .govuk-\!-font-size-19;
  text-decoration: none;
  color: red;
}

.pac-pagination-link--icon {
  margin: 0 10px;
}

.pac-pagination-link--text {
  margin-top: 0;
}
