.pac-pagination-link {
  @extend .govuk-link;
  @extend .govuk-link--no-visited-state;
  @extend .govuk-\!-font-size-19;
  text-decoration: none;
  padding: 15px 0 15px 15px;
  margin-left: -15px;
}

.pac-pagination-link--icon {
  margin-right: 8px;
}

pac-pagination-link--next {
  margin-left: 8px;
}

.pac-pagination-link--text {
  margin-right: 10px;
}

.pac-pagination-link:hover {
  background-color: #f3f2f1;
 }

.pac-pagination-link:focus {
  background-color: #fadc4b;
}
